<div class="container ms-2" [abpLoading]="loading">
  <div class="row mb-2">
    <div class="col-md-3">
      <div class="row mb-2">
        <div class="col-md-12">
          <p-dropdown
          [options]="stockMarkets"
          [(ngModel)]="stockMarketID"
          name="stockMarketID"
          placeholder="Select a Market"
          optionLabel="abbr"
          optionValue="stockMarketID"
          (ngModelChange)="getStockMarketSectorsByStockMarketID()"
          [style]="{ width: '100%' }"
          [showClear]="true"
          >
          </p-dropdown>
        </div>
        <div class="col-md-12 mt-2">
          <p-dropdown
          [options]="companyMarketSectors"
          [(ngModel)]="sectorID"
          name="sectorID"
          placeholder="Select a Sector"
          optionLabel="sector"
          optionValue="sectorID"
          (ngModelChange)="getSectorCompaniesBySectorIDAndStockMarketID()"
          [style]="{ width: '100%' }"
          [showClear]="true"
          >
          </p-dropdown>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h6 class="p-1 mb-1">Companies</h6>
          <p-listbox
            [options]="companiesTickers"
            [(ngModel)]="companyID"
            name="companyID"
            optionLabel="ticker"
            (click)="onListBoxSelectionChange($event);getNewFinancialReviewsByCompanyID()"
            optionValue="companyID"
            [style]="{ width: '100%' }"
            [listStyle]="{ 'max-height': '30rem' }"
          />
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-body p-2">
          <div class="row">
            <div class="col-md-12">
              <p-autoComplete
                [(ngModel)]="selectedItem"
                [ngModelOptions]="{ standalone: true }"
                (onSelect)="onSelect($event)"
                [suggestions]="suggestions"
                (completeMethod)="search($event)"
                [style]="{ width: '100%' }"
                field="company"
                [inputStyle]="{ width: '100%' }"
                >
                </p-autoComplete>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-4">
              <h6>FinID: {{newReviewFinancial.financialsID}}</h6>
               <h6>This Company {{ companyTicker}} is Financial Admin </h6> 
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-8">
                  <input
                    autofocus
                    type="text"
                    [(ngModel)]="rate"
                    [ngModelOptions]="{ standalone: true }"
                    name="rate"
                    class="form-control col-8"
                    name="Company"
                    placeholder="Rate"
                  />
                </div>
                <div class="col-md-4">
                  <button *ngIf="permission.create" (click)="updateFinancialRateChangesByFinancialIdAndRate()"  class="btn btn-sm btn-primary">Update</button>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <h6>NRID: {{newReviewFinancial.newReviewFinancialID}}</h6>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12">
                  <p-table
                    #dt
                    [value]="newReviewFinancials"
                    [scrollable]="true" 
                    scrollHeight="40rem"
                    responsiveLayout="stack"
                    styleClass="p-datatable-gridlines"
                  >
                    <ng-template pTemplate="header">
                      <tr>
                        <th>As Of Date</th>
                        <th>Year</th>
                        <th>Q Period</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-i="rowIndex">
                      <tr (click)="handleNewReviewFinancial(item);clickedIndex == i? clickedIndex = null : clickedIndex = i" [ngClass]="{'row-active': clickedIndex == i}">
                        <td>{{ item.asOfDate | date: 'dd/MM/yyyy' }}</td>
                        <td>{{ item.year }}</td>
                        <td>{{ item.qPeriod }}</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-6">New And Review Financials:</div>
                <div class="col-md-6">
                  <p-dropdown
                    [options]="newReviewFinancials"
                    placeholder="Select a Financial"
                    optionLabel="qperiod"
                    [style]="{ width: '100%' }"
                    [showClear]="true"
                  >
                  </p-dropdown>
                  <label class="text-dark">0 Reviews</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label class="col-form-label">Period Type</label>
                  <p-dropdown
                    [options]="periodTypes"
                    [(ngModel)]="newReviewFinancial.periodTypeID"
                    [ngModelOptions]="{ standalone: true }"
                    name="periodTypeID"
                    placeholder="Select a Period Type"
                    optionLabel="period"
                    optionValue="periodTypeID"
                    [style]="{ width: '100%' }"
                    [showClear]="true"
                  >
                  </p-dropdown>
                </div>
                <div class="col-md-6">
                  <label class="col-form-label">Q Period</label>
                  <p-dropdown
                    [options]="qPeriods"
                    placeholder="Select a Q Period"
                    [(ngModel)]="newReviewFinancial.qPeriodID"
                    [ngModelOptions]="{ standalone: true }"
                    name="qPeriodID"
                    optionValue="qPeriodID"
                    optionLabel="qPeriod"
                    [style]="{ width: '100%' }"
                    [showClear]="true"

                      
                  >
                  </p-dropdown>
                </div>
                <div class="col-md-6">
                  <label class="col-form-label">Enterer</label>
                  <p-dropdown
                    [options]="users"
                    [(ngModel)]="newReviewFinancial.entryUser"
                    [ngModelOptions]="{ standalone: true }"
                    name="entryUser"
                    optionValue="userID"
                    placeholder="Select a Enterer"
                    optionLabel="userName"
                    [style]="{ width: '100%' }"
                    [showClear]="true"
                  >
                  </p-dropdown>
                </div>
                <div class="col-md-6">
                  <label class="col-form-label">Re Enterer</label>
                  <p-dropdown
                    [options]="usersList"
                    [(ngModel)]="newReviewFinancial.reEntryUser"
                    [ngModelOptions]="{ standalone: true }"
                    name="reEntryUser"
                    optionValue="userID"
                    placeholder="Select a Re Enterer"
                    optionLabel="userName"
                    [style]="{ width: '100%' }"
                    [showClear]="true"
                  >
                  </p-dropdown>
                </div>
                <div class="col-md-6">
                  <label class="col-form-label">Financial In</label>
                  <p-dropdown
                    [options]="statuses"
                    [(ngModel)]="newReviewFinancial.statusID"
                    [ngModelOptions]="{ standalone: true }"
                    name="statusID"
                    optionValue="statusID"
                    placeholder="Select a Financial In"
                    optionLabel="status"
                    [style]="{ width: '100%' }"
                    [showClear]="true"
                  >
                  </p-dropdown>
                </div>
                <div class="col-md-6">
                  <label class="col-form-label">Year</label>
                  <p-calendar
                    [style]="{ width: '100%' }"
                    view="year"
                    dataType="string"
                    [(ngModel)]="newReviewFinancial.year" name="year" [showIcon]="true"
                    dateFormat="yy"
                    placeholder="Select a Year"
                    (ngModelChange)="onYearChange($event)"
                  />
                </div>
                <div class="col-md-6">
                  <label class="col-form-label">As Of Date</label>
                  <p-calendar [style]="{ width: '100%' }" dataType="string" [showIcon]="true" [(ngModel)]="newReviewFinancial.asOfDate" name="asOfDate" placeholder="Select a Date" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <p-checkbox value="New York" [(ngModel)]="newReviewFinancial.isAudited" name="isAudited" binary="true"   inputId="ny" />
                  <label for="ny" class="col-form-label">Audited</label>
                </div>
                <div class="col-md-4">
                  <p-checkbox value="New York" [(ngModel)]="newReviewFinancial.isYearly"
                   name="isYearly" binary="true"   inputId="ny1"    />
                  <label for="ny1" class="col-form-label">Yearly</label>
                </div>
                <div class="col-md-4">
                  <p-checkbox value="New York" [(ngModel)]="newReviewFinancial.isActive" name="isActive" binary="true"   inputId="ny2" />
                  <label for="ny2" class="col-form-label">Active</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label class="col-form-label">Remarks</label>
                  <textarea rows="3" class="form-control" [(ngModel)]="newReviewFinancial.remarks" name="remarks" placeholder="Describe Overview here...">
                  </textarea>
                </div>
                <div class="col-md-12">
                  <label class="col-form-label">Remarks (AR)</label>
                  <textarea rows="3" class="form-control" [(ngModel)]="newReviewFinancial.aRemarks" name="aRemarks"  placeholder="Describe Overview here...">
                  </textarea>
                </div>
              </div>
              <!-- <div class="row">
                <div class="col-md-12">
                  <label>Primary File Name: {{newReviewFinancial.fileName}}</label>
                </div>
                <div class="col-md-12">
                  <label>Primary Upload Path: {{newReviewFinancial.uploadedPath}}</label>
                </div>
                <div class="col-md-12">
                  <label>Secondary File Name: {{newReviewFinancial.secondaryFileName}}</label>
                </div>
                <div class="col-md-12">
                  <label>Secondary Upload Path: {{newReviewFinancial.secondaryUploadedPath}}</label>
                </div>
              </div> -->
              <div class="row">
                <div class="col-md-4">
                    <!-- <button class="btn btn-sm btn-block btn-primary me-3">Mark it as reviewed</button> -->
                </div>
                <div class="col-md-8 text-end">
                    <button class="btn btn-sm btn-primary me-3" (click)="updateAdminFinancialsByInput()">Update</button>

                    <button class="btn btn-sm btn-danger me-3" (click)="deleteFinancial(newReviewFinancial.financialsID)">
                      Discard
                    </button>
                    <!-- <button class="btn btn-sm btn-danger">Discard</button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
