<div class="container ms-2" [abpLoading]="loading">
    <div class="row mb-2">
      <div class="col-md-3">
        <div class="row mb-2">
          <div class="col-md-12">
            <p-dropdown
            [options]="stockMarkets"
            [(ngModel)]="stockMarketID"
            name="stockMarketID"
            placeholder="Select a Market"
            optionLabel="abbr"
            optionValue="stockMarketID"
            (ngModelChange)="getStockMarketSectorsByStockMarketID()"
            [style]="{ width: '100%' }"
            [showClear]="true"
            >
            </p-dropdown>
          </div>
          <div class="col-md-12 mt-2">
              <p-dropdown
              [options]="companyMarketSectors"
              [(ngModel)]="sectorID"
              name="sectorID"
              placeholder="Select a Sector"
              optionLabel="sector"
              optionValue="sectorID"
              (ngModelChange)="getSectorCompaniesBySectorIDAndStockMarketID()"
              [style]="{ width: '100%' }"
              [showClear]="true"
              >
              </p-dropdown>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h6 class="p-1 mb-1">Companies</h6>
            <p-listbox
              [options]="companiesTickers"
              [(ngModel)]="companyID"
              name="companyID"
              optionLabel="ticker"
              (click)="getEstimatesandForecastsByCompanyID()"
              optionValue="companyID"
              [style]="{ width: '100%' }"
              [listStyle]="{ 'max-height': '30rem' }"
            />
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="card">
          <form #announementForm="ngForm" (ngSubmit)="createOrUpdateEstimatesandForecast()">
          <div class="card-body p-2">
            <div class="row">
                <div class="col-md-9">
                  <p-autoComplete
                  [(ngModel)]="selectedItem"
                  [ngModelOptions]="{ standalone: true }"
                  (onSelect)="onSelect($event)"
                  [suggestions]="suggestions"
                  (completeMethod)="search($event)"
                  [style]="{ width: '100%' }"
                  field="company"
                  [inputStyle]="{ width: '100%' }"
                  >
                  </p-autoComplete>
                </div>
                <div class="col-md-3 text-end">
                  <a href="#" (click)="addNewEstimatesandForecast()" class="btn btn-primary btn-sm me-1"><i class="fa fa-plus"></i> Add New</a>
                  <button type="submit" *ngIf="permission.create"  [attr.disabled]="!announementForm.valid ? true : null" class="btn btn-success btn-sm me-1"
                  ><i class="fa fa-save"></i> Save</button
                >
                  <!-- <a href="#" class="btn btn-primary btn-sm me-1"><i class="fa fa-edit"></i> Update</a> -->
                </div>
              </div>
            <div class="row mt-2">
                <div class="col-md-3">
                    <label class="col-form-label">Sources</label>
                    <p-dropdown
                      [options]="reportSources"
                      required="true"
                      [(ngModel)]="estimatesandForecast.reportSourceID"
                      [ngModelOptions]="{ standalone: true }"
                      required="true"
                      placeholder="Select a Report Source"
                      optionLabel="source"
                      optionValue="reportSourceID"
                      [style]="{ width: '100%' }"
                      [showClear]="true"
                    >
                    </p-dropdown>
                </div>
                <div class="col-md-3">
                    <label class="col-form-label">Year</label>
                    <p-calendar [style]="{ width: '100%' }" required="true" dataType="string" [showIcon]="true" dateFormat="yy" [(ngModel)]="estimatesandForecast.year" name="year" view="year" placeholder="Select a Year" />
                </div>
                <div class="col-md-3">
                    <label class="col-form-label">As of Date</label>
                    <p-calendar [style]="{ width: '100%' }" required="true" dataType="string" [showIcon]="true" [(ngModel)]="estimatesandForecast.asofDate" name="asofDate" placeholder="Select a As of Date" />
                </div>
                <div class="col-md-3">
                    <label class="col-form-label">Report Date</label>
                    <p-calendar [style]="{ width: '100%' }" required="true" dataType="string" [showIcon]="true" [(ngModel)]="estimatesandForecast.reportDate" name="reportDate" placeholder="Select a Report Date" />
                </div>
                <div class="col-md-6">
                    <label class="col-form-label">Remarks</label>
                    <textarea rows="3" class="form-control" [(ngModel)]="estimatesandForecast.remarks" name="remarks" placeholder="Describe Overview here...">
                    </textarea>
                </div>
                <div class="col-md-6">
                    <label class="col-form-label">Remarks (AR)</label>
                    <textarea rows="3" class="form-control" [(ngModel)]="estimatesandForecast.aRemarks" name="aRemarks" placeholder="Describe Overview here...">
                    </textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h6>Finacial Data</h6>
                    <div class="card">
                        <div class="card-body p-2">
                          <div class="d-flex p-2">
                            <div class="form-group me-2">
                              <label class="col-form-label">Revenue</label>
                              <input
                                autofocus
                                type="number"
                                step="any"
                                [(ngModel)]="estimatesandForecast.revenue"
                                [ngModelOptions]="{ standalone: true }"
                                pattern="^\d*(\.\d{0,2})?$"
                                class="form-control"
                                name="revenue"
                                placeholder="Revenue"
                              />
                          </div>
                          <div class="form-group me-2">
                              <label class="col-form-label">Total Liabilities</label>
                              <input
                                autofocus
                                [(ngModel)]="estimatesandForecast.totalLiabilities"
                                [ngModelOptions]="{ standalone: true }"
                                pattern="^\d*(\.\d{0,2})?$"
                                type="number"
                                step="any"
                                class="form-control"
                                name="totalLiabilities"
                                placeholder="Total Liabilities"
                              />
                          </div>
                          <div class="form-group me-2">
                              <label class="col-form-label">EPS</label>
                              <input
                                autofocus
                                [(ngModel)]="estimatesandForecast.eps"
                                [ngModelOptions]="{ standalone: true }"
                                pattern="^\d*(\.\d{0,2})?$"
                                type="number"
                                step="any"
                                class="form-control"
                                name="eps"
                                placeholder="EPS"
                              />
                          </div>
                          <div class="form-group me-2">
                              <label class="col-form-label">Net Profit</label>
                              <input
                                autofocus
                                [(ngModel)]="estimatesandForecast.netProfit"
                                [ngModelOptions]="{ standalone: true }"
                                pattern="^\d*(\.\d{0,2})?$"
                                type="number"
                                step="any"
                                class="form-control"
                                name="netProfit"
                                placeholder="Net Profit"
                              />
                          </div>
                          <div class="form-group me-2">
                            <label class="col-form-label">Owners Equity</label>
                            <input
                              autofocus
                              [(ngModel)]="estimatesandForecast.ownersEquity"
                              [ngModelOptions]="{ standalone: true }"
                              pattern="^\d*(\.\d{0,2})?$"
                              type="number"
                                step="any"
                              class="form-control"
                              name="ownersEquity"
                              placeholder="Owners Equity"
                            />
                        </div>
                          </div>
                            <div class="row">                                
                                <div class="col-md-3">
                                    <label class="col-form-label">P/E</label>
                                    <input
                                      autofocus
                                      [(ngModel)]="estimatesandForecast.pe"
                                      [ngModelOptions]="{ standalone: true }"
                                      pattern="^\d*(\.\d{0,2})?$"
                                      type="number"
                                      step="any"
                                      class="form-control"
                                      name="pe"
                                      placeholder="P/E"
                                    />
                                </div>
                                <div class="col-md-3">
                                    <label class="col-form-label">Total Assets</label>
                                    <input
                                      autofocus
                                      [(ngModel)]="estimatesandForecast.totalAssets"
                                      [ngModelOptions]="{ standalone: true }"
                                      pattern="^\d*(\.\d{0,2})?$"
                                      type="number"
                                      step="any"
                                      class="form-control"
                                      name="totalAssets"
                                      placeholder="Total Assets"
                                    />
                                </div>
                                <div class="col-md-3">
                                    <label class="col-form-label">Fair Value</label>
                                    <input
                                      autofocus
                                      [(ngModel)]="estimatesandForecast.fairValue"
                                      [ngModelOptions]="{ standalone: true }"
                                      pattern="^\d*(\.\d{0,2})?$"
                                      type="number"
                                      step="any"
                                      class="form-control"
                                      name="fairValue"
                                      placeholder="Fair Value"
                                    />
                                </div>
                                <div class="col-md-3">
                                    <label class="col-form-label">P/B</label>
                                    <input
                                      autofocus
                                      [(ngModel)]="estimatesandForecast.pb"
                                      [ngModelOptions]="{ standalone: true }"
                                      pattern="^\d*(\.\d{0,2})?$"
                                      type="number"
                                      step="any"
                                      class="form-control"
                                      name="pb"
                                      placeholder="P/B"
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="col-form-label">Recomendation</label>
                                    <textarea rows="3" class="form-control"  [(ngModel)]="estimatesandForecast.recommendation" name="recommendation" placeholder="Describe Overview here...">
                                    </textarea>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-form-label">Recomendation (AR)</label>
                                    <textarea rows="3" class="form-control"  [(ngModel)]="estimatesandForecast.aRecommendation" name="aRecommendation" placeholder="Describe Overview here...">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                  <div class="col-md-12">
                    <p-table
                      #dt
                      [value]="estimatesandForecasts"
                      [scrollable]="true" 
                      scrollHeight="20rem"
                      responsiveLayout="stack"
                      styleClass="p-datatable-gridlines"
                    >
                      <ng-template pTemplate="caption">
                        <div class="d-flex flex-column flex-md-row justify-content-between">
                          <div class="mr-auto p-2">
                            <span>
                              <h5>Research Companies Info</h5>
                            </span>
                          </div>
                        </div>
                      </ng-template>
                      <ng-template pTemplate="header">
                        <tr>
                          <th>Year</th>
                          <th>As of Date</th>
                          <th>Report Date</th>
                          <th>Revenue</th>
                          <th>Net Profit</th>
                          <th>Total Asset</th>
                          <th>Total Liabilities</th>
                          <th>Ownership Equity</th>
                          <th>Fair Value</th>
                          <th>EPS</th>
                          <th>PE</th>
                          <th>PB</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-item let-i="rowIndex">
                        <tr (click)="handleEstimatesandForecast(item);clickedIndex == i? clickedIndex = null : clickedIndex = i" [ngClass]="{'row-active': clickedIndex == i}"> 
                          <td>{{ item.year }}</td>
                          <td>{{ item.asofDate | date: 'dd/MM/yyyy' }}</td>
                          <td>{{ item.reportDate | date: 'dd/MM/yyyy' }}</td>
                          <td>{{ item.revenue }}</td>
                          <td>{{ item.netProfit }}</td>
                          <td>{{ item.totalAssets }}</td>
                          <td>{{ item.totalLiabilities }}</td>
                          <td>{{ item.ownersEquity }}</td>
                          <td>{{ item.fairValue }}</td>
                          <td>{{ item.eps }}</td>
                          <td>{{ item.pe }}</td>
                          <td>{{ item.pb }}</td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
  


