<div class="container ms-2">
  <div class="row mb-2">
    <div class="col-md-3">
      <div class="row mb-2">
        <div class="col-md-12">
          <p-dropdown
          [options]="stockMarkets"
          [(ngModel)]="stockMarketID"
          name="stockMarketID"
          placeholder="Select a Market"
          optionLabel="abbr"
          optionValue="stockMarketID"
          (ngModelChange)="getStockMarketSectorsByStockMarketID()"
          [style]="{ width: '100%' }"
          [showClear]="true"
        >
        </p-dropdown>
        </div>
        <div class="col-md-12 mt-2">
          <p-dropdown
          [options]="companyMarketSectors"
          [(ngModel)]="newsEng.gulfBaseSectorID"
          name="sectorID"
          placeholder="Select a Sector"
          optionLabel="sector"
          optionValue="sectorID"
          (ngModelChange)="getSectorCompaniesBySectorIDAndStockMarketID()"
          [style]="{ width: '100%' }"
          [showClear]="true"
        >
        </p-dropdown>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h6>Companies</h6>
          <div class="card">
            <div class="card-body p-0">
              <h6 class="selector p-1 mb-1 border-bottom">ACDB</h6>
              <p-listbox
              [options]="companiesTickers"
              [(ngModel)]="companyID"
              name="companyID"
              optionLabel="ticker"
              optionValue="companyID"
              [style]="{ width: '100%' }"
              [listStyle]="{ 'max-height': '30rem' }"
            />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-body p-2">
          <div class="row">
            <div class="col-md-8">
            
            </div>
            <div class="col-md-4 text-end">
              <!-- <a href="#" class="btn btn-primary btn-sm me-1"><i class="fa fa-plus"></i> Add New</a> -->
              <a href="#" *ngIf="permission.create"  class="btn btn-success btn-sm me-1"><i class="fa fa-save"></i> Save</a>
              <!-- <a href="#" class="btn btn-primary btn-sm me-1"><i class="fa fa-edit"></i> Update</a> -->
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-3">
              <label class="col-form-label">Enrty Type</label>
              <p-dropdown
                [options]="NewType"
                placeholder="Select a Enrty Type"
                optionLabel="financialEntryType"
                [style]="{ width: '100%' }"
                [showClear]="true"
                optionLabel="financialEntryType"
                optionValue="financialEntryTypeID"
              >
              </p-dropdown>
            </div>
            <div class="col-md-3">
              <label class="col-form-label">Set As</label>
              <p>
                <p-checkbox value="New York" inputId="ny" />
                <label for="ny" class="col-form-label">Yearly</label>
              </p>
              
            </div>
            <div class="col-md-3">
              <label class="col-form-label">Quarters</label>
              <p-dropdown
              [options]="quarter"
                placeholder="Select a Quarters"
                optionLabel="qPeriod"
                [style]="{ width: '100%' }"
                optionLabel="qPeriod"
                optionValue="qPeriodID"
                [showClear]="true"
              >
              </p-dropdown>
            </div>
            <div class="col-md-3">
              <label class="col-form-label">Periods</label>
              <p-dropdown
                [options]="period"
                placeholder="Select a Periods"
                
                optionLabel="period"
                optionValue="periodTypeID"
                [style]="{ width: '100%' }"
                [showClear]="true"
              >
              </p-dropdown>
            </div>
            <div class="col-md-3">
              <label class="col-form-label">Year</label>
              <p-calendar [style]="{ width: '100%' }"  view="year"
              dateFormat="yy" placeholder="Select a Year" />
            </div>
            <div class="col-md-3">
              <label class="col-form-label">As Of Date</label>
              <p-calendar [style]="{ width: '100%' }" placeholder="Select a Date" />
            </div>
            <div class="col-md-3">
              <label class="col-form-label">Users (Entry)</label>
              <p-dropdown
                [options]="entryusers"
                placeholder="Select a Users (Entry)"
                optionLabel="name"
                [style]="{ width: '100%' }"
                [showClear]="true"
                optionLabel="userName"
                optionValue="userID"
              >
              </p-dropdown>
            </div>
            <div class="col-md-3">
              <label class="col-form-label">Users (ReEntry)</label>
              <p-dropdown
                [options]="reentryusers"
                placeholder="Select a Users (ReEntry)"
                optionLabel="users"
                [style]="{ width: '100%' }"
                [showClear]="true"
                optionLabel="userName"
                optionValue="userID"
              >
              </p-dropdown>
            </div>
            <div class="col-md-6">
              <label class="col-form-label">Remarks</label>
              <textarea rows="3" class="form-control" placeholder="Describe Overview here...">
              </textarea>
            </div>
            <div class="col-md-6">
              <label class="col-form-label">Remarks (AR)</label>
              <textarea rows="3" class="form-control" placeholder="Describe Overview here...">
              </textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-end mt-2">
                <button class="btn btn-sm btn-secondary">Load Markets Latest Quarters</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <p-table #dt [value]="companies" [tableStyle]="{ 'max-height': '20rem' }" responsiveLayout="stack" styleClass="p-datatable-strip">
                <ng-template pTemplate="header">
                  <tr>
                    <th></th>
                    <th>Ticker</th>
                    <th>As Of Date</th>
                    <th>Year</th>
                    <th>Period</th>
                    <th>Is Yearly</th>
                    <th>Entry User</th>
                    <th>Re Entry User</th>
                    <th>Q Period Id</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                  <tr>
                    <td></td>
                    <td>{{item.ticker}}</td>
                    <td>{{item.aod}}</td>
                    <td>{{item.yr}}</td>
                    <td>{{item.pr}}</td>
                    <td class="text-center"><p-checkbox value="New York" inputId="ny" /></td>
                    <td>{{item.eu}}</td>
                    <td>{{item.reu}}</td>
                    <td>{{item.qp}}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
