<div class="row">
    <div class="col-sm-11">
        <p-tree [value]="esdFactsMappings" selectionMode="single" 
         [virtualScroll]="true" virtualScrollItemSize="46" scrollHeight="480px"
        (onNodeSelect)="onNodeClick($event)" class="w-full md:w-30rem" [filter]="true"
         filterMode="contains" filterPlaceholder="Search Economic and Statistics Data" > 
        <ng-template let-node pTemplate="default">

            <span pTooltip="{{ node.aesdFact }}" tooltipPosition="top">
              
              {{ node.label }}
            </span>
          </ng-template>
        </p-tree>
    </div>
    <div class="col-sm-1 mt-1">
        <a class="btn btn-primary" *ngif="permission.create" (click)="addAccount()"><i class="fa fa-plus fa-sm me-2"></i>Add</a>
    </div>
    </div>

