<div class="container ms-2" [abpLoading]="loading">
  <div class="row mb-2">
    <div class="col-md-3">
      <div class="row mb-2">
        <div class="col-md-12">
          <p-dropdown
            [options]="stockMarkets"
            [(ngModel)]="stockMarketID"
            name="stockMarketID"
            placeholder="Select a Market"
            optionLabel="abbr"
            optionValue="stockMarketID"
            (ngModelChange)="getCompaniesWithHasFundByStockMarketID()"
            [style]="{ width: '100%' }"
            [showClear]="true"
          >
          </p-dropdown>
        </div>
        <div class="col-md-12 mt-2">
          <p-dropdown
            [options]="companies"
            [(ngModel)]="companyID"
            name="sectorID"
            placeholder="Select a Ticker"
            optionLabel="ticker"
            optionValue="companyID"
            (ngModelChange)="getCompanyMutualFundsByCompanyID()"
            [style]="{ width: '100%' }"
            [showClear]="true"
          >
          </p-dropdown>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h6 class="p-1 mb-1">Mutual Funds</h6>
          <p-listbox
            [options]="companyMutualFunds"
            [(ngModel)]="mFundID"
            name="mFundID"
            optionLabel="shortName"
            (click)="handleCompanyMutualFund(mFundID)"
            optionValue="mFundID"
            [style]="{ width: '100%' }"
            [listStyle]="{ 'max-height': '200rem' }"
          />
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <form #mutualFundForm="ngForm" (ngSubmit)="createOrUpdateCompanyMutualFund()">
        <div class="card-body p-2">
          <div class="row">
            <div class="col-md-8">
              <p-autoComplete
                [(ngModel)]="selectedItem"
                [ngModelOptions]="{ standalone: true }"
                (onSelect)="onSelect($event)"
                [suggestions]="suggestions"
                (completeMethod)="search($event)"
                [style]="{ width: '100%' }"
                field="company"
                [inputStyle]="{ width: '100%' }"
              >
              </p-autoComplete>
            </div>
            <div class="col-md-4">
              <a href="#" class="btn btn-primary btn-sm me-1" (click)="addNewCompanyMutualFund()"><i class="fa fa-plus"></i> Add New</a>
                <button type="submit" *ngIf="permission.create"  [attr.disabled]="!mutualFundForm.valid ? true : null" class="btn btn-success btn-sm me-1"
                  ><i class="fa fa-save"></i> Save</button
                >
              <!-- <a href="#" class="btn btn-primary btn-sm me-1"><i class="fa fa-edit"></i> Update</a> -->
            </div>
          </div>
          <div class="row mt-2">
            <p-tabView>
              <p-tabPanel header="General">
                <div class="row">
                  <div class="col-md-4">
                    <label class="col-form-label">Short Name</label>
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.shortName"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      required="true"
                      type="text"
                      class="form-control"
                      name="shortName"
                      placeholder="Short Name"
                    />
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.aShortName"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control mt-2"
                      name="aShortName"
                      placeholder="Short Name (AR)"
                    />
                  </div>
                  <div class="col-md-4">
                    <label class="col-form-label">Name</label>
                    <input
                      autofocus
                      required="true"
                      [(ngModel)]="companyMutualFund.name"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control"
                      name="name"
                      placeholder="Name"
                    />
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.aName"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control mt-2"
                      name="aName"
                      placeholder="Name (AR)"
                    />
                  </div>
                  <div class="col-md-4">
                    <label class="col-form-label">Manager</label>
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.manager"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control"
                      name="manager"
                      placeholder="Manager"
                    />
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.aManager"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control mt-2"
                      name="aManager"
                      placeholder="Manager (AR)"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label class="col-form-label">Currency</label>
                    <p-dropdown
                      [options]="currencies"
                      [(ngModel)]="companyMutualFund.currencyID"
                      placeholder="Select a Currency"
                      optionLabel="currency"
                      optionValue="currencyID"
                      [style]="{ width: '100%' }"
                      [showClear]="true"
                    >
                    </p-dropdown>
                  </div>
                  <div class="col-md-4">
                    <label class="col-form-label">Category</label>
                    <p-dropdown
                      [options]="mfCategories"
                      required="true"
                      [(ngModel)]="companyMutualFund.categoryID"
                      [ngModelOptions]="{ standalone: true }"
                      placeholder="Select a Category"
                      optionLabel="category"
                      optionValue="categoryID"
                      [style]="{ width: '100%' }"
                      [showClear]="true"
                    >
                    </p-dropdown>
                  </div>
                  <div class="col-md-4">
                    <label class="col-form-label">Sub Category</label>
                    <p-dropdown
                      [options]="mfSubCategories"
                      required="true"
                      [(ngModel)]="companyMutualFund.subCategoryID"
                      [ngModelOptions]="{ standalone: true }"
                      placeholder="Select a Sub Category"
                      optionLabel="subCategory"
                      optionValue="subCategoryID"
                      [style]="{ width: '100%' }"
                      [showClear]="true"
                    >
                    </p-dropdown>
                  </div>
                  <div class="col-md-4">
                    <label class="col-form-label">Classification</label>
                    <p-dropdown
                      [options]="mfClassifications"
                      [(ngModel)]="companyMutualFund.classificationID"
                      [ngModelOptions]="{ standalone: true }"
                      placeholder="Select a Classification"
                      optionLabel="classification"
                      optionValue="classificationID"
                      [style]="{ width: '100%' }"
                      [showClear]="true"
                    >
                    </p-dropdown>
                  </div>
                  <div class="col-md-4">
                    <label class="col-form-label">Listing</label>
                    <p-dropdown
                      [options]="mfListings"
                      [(ngModel)]="companyMutualFund.listingID"
                      [ngModelOptions]="{ standalone: true }"
                      placeholder="Select a Listing"
                      optionLabel="listing"
                      optionValue="listingID"
                      [style]="{ width: '100%' }"
                      [showClear]="true"
                    >
                    </p-dropdown>
                  </div>
                  <div class="col-md-4">
                    <label class="col-form-label">Management Fees</label>
                    <div class="input-group">
                      <p-inputNumber type="text" [minFractionDigits]="2" class="form-control" mode="decimal" [(ngModel)]="companyMutualFund.managementFee" name="managementFee"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText placeholder="Management Fees" >
                    </p-inputNumber>
                      <span class="input-group-text">%</span>
                    
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label class="col-form-label">Mang Fee Type</label>
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.managementFeeType"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control"
                      name="managementFeeType"
                      placeholder="Mang Fee Type"
                    />
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.aManagementFeeType"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control mt-2"
                      name="aManagementFeeType"
                      placeholder="Mang Fee Type (AR)"
                    />
                  </div>
                  <div class="col-md-4">
                    <label class="col-form-label">Fee Description</label>
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.feeDescription"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control"
                      name="feeDescription"
                      placeholder="Fee Description"
                    />
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.aFeeDescription"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control mt-2"
                      name="aFeeDescription"
                      placeholder="Fee Description (AR)"
                    />
                  </div>
                  <div class="col-md-4">
                    <label class="col-form-label">Additional Subs</label>
                    <p-inputNumber
                      autofocus
                      [(ngModel)]="companyMutualFund.additionalSubscription"
                      [ngModelOptions]="{ standalone: true }"
                      [minFractionDigits]="2"
                      mode="decimal"
                      class="form-control"
                      name="additionalSubscription"
                      placeholder="Additional Subs"
                    ></p-inputNumber>
                    <!-- <input
                      autofocus
                      [(ngModel)]="companyMutualFund.additionalSubscription"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control mt-2"
                      name="additionalSubscription"
                      placeholder="Additional Subs (AR)"
                    /> -->
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label class="col-form-label">Announced On</label>
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.announceOn"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control"
                      name="announceOn"
                      placeholder="Announced On"
                    />
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.aAnnounceOn"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control mt-2"
                      name="aAnnounceOn"
                      placeholder="Announced On (AR)"
                    />
                  </div>
                  <div class="col-md-4">
                    <label class="col-form-label">Investment Manage</label>
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.investmentManager"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control"
                      name="investmentManager"
                      placeholder="Investment Manage"
                    />
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.aInvestmentManager"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control mt-2"
                      name="aInvestmentManager"
                      placeholder="Investment Manage (AR)"
                    />
                  </div>
                  <div class="col-md-4">
                    <label class="col-form-label">Administrator</label>
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.administrator"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control"
                      name="administrator"
                      placeholder="Administrator"
                    />
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.aAdministrator"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control mt-2"
                      name="aAdministrator"
                      placeholder="Administrator (AR)"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label class="col-form-label">Auditor</label>
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.auditor"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control"
                      name="auditor"
                      placeholder="Auditor"
                    />
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.aAuditor"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control mt-2"
                      name="aAuditor"
                      placeholder="Auditor (AR)"
                    />
                  </div>
                  <div class="col-md-4">
                    <label class="col-form-label">Custodian</label>
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.custodian"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control"
                      name="custodian"
                      placeholder="Custodian"
                    />
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.aCustodian"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control mt-2"
                      name="aCustodian"
                      placeholder="Custodian (AR)"
                    />
                  </div>
                  <div class="col-md-4">
                    <label class="col-form-label">Management Team</label>
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.managementTeam"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control"
                      name="managementTeam"
                      placeholder="Management Team"
                    />
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.aManagementTeam"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control mt-2"
                      name="aManagementTeam"
                      placeholder="Management Team (AR)"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label class="col-form-label">Subs Deadline</label>
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.subscriptionDeadLine"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control"
                      name="subscriptionDeadLine"
                      placeholder="Subs Deadline"
                    />
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.aSubscriptionDeadLine"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control mt-2"
                      name="aSubscriptionDeadLine"
                      placeholder="Subs Deadline (AR)"
                    />
                  </div>
                  <div class="col-md-4">
                    <label class="col-form-label">Redem Deadline</label>
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.redemptionDeadLine"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control"
                      name="redemptionDeadLine"
                      placeholder="Redem Deadline"
                    />
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.aRedemptionDeadLine"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control mt-2"
                      name="aRedemptionDeadLine"
                      placeholder="Redem Deadline (AR)"
                    />
                  </div>
                  <div class="col-md-4">
                    <label class="col-form-label">Valuation Date</label>
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.valuationDate"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control"
                      name="valuationDate"
                      placeholder="Valuation Date"
                    />
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.aValuationDate"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control mt-2"
                      name="aValuationDate"
                      placeholder="Valuation Date (AR)"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label class="col-form-label">Inception Price</label>
                    <p-inputNumber
                      autofocus
                      [(ngModel)]="companyMutualFund.priceAtInception"
                      [ngModelOptions]="{ standalone: true }"                      
                      mode="decimal"
                      class="form-control"
                      name="priceAtInception"
                      placeholder="Inception Price"
                      ></p-inputNumber>
                  </div>
                  <div class="col-md-4">
                    <label class="col-form-label">Risks</label>
                    <p-dropdown
                      [options]="mfRisks"
                      [(ngModel)]="companyMutualFund.riskID"
                      [ngModelOptions]="{ standalone: true }"
                      placeholder="Select a Risk"
                      optionLabel="risk"
                      optionValue="riskID"
                      [style]="{ width: '100%' }"
                      [showClear]="true"
                    >
                    </p-dropdown>
                  </div>
                  <div class="col-md-4">
                    <label class="col-form-label">Fund Assets</label>
                    <p-inputNumber
                      autofocus
                      [(ngModel)]="companyMutualFund.fundAssets"
                      [ngModelOptions]="{ standalone: true }"
                      
                      mode="decimal"
                      class="form-control"
                      name="fundAssets"
                      placeholder="Fund Assets"
                      ></p-inputNumber>
                  </div>
                  <div class="col-md-8">
                    <label class="col-form-label">Bench Marks</label>
                    <p-dropdown
                      [options]="benchmarks"
                      [(ngModel)]="companyMutualFund.benchmarkID"
                      [ngModelOptions]="{ standalone: true }"
                      placeholder="Select a Bench Mark"
                      optionLabel="benchmark"
                      optionValue="benchmarkID"
                      [style]="{ width: '100%' }"
                      [showClear]="true"
                    >
                    </p-dropdown>
                  </div>
                  <div class="col-md-4">
                    <label class="col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <div class="form-check me-2">
                      <input class="form-check-input" [(ngModel)]="companyMutualFund.isActive" name="isActive"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText type="checkbox" />
                      <label class="form-check-label" for="defaultCheck3">Active</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label class="col-form-label">Date  of Inception </label>
                    <p-calendar dataType="string" [style]="{ width: '100%' }"   required="true" [(ngModel)]="companyMutualFund.dateOfInception" 
                    name="selectedDate" [showIcon]="true" placeholder="Select a Date" />
                  </div>
                  <div class="col-md-4">
                    <label class="col-form-label">Mini Intial Subs:</label>
                    <p-inputNumber
                      autofocus
                      [(ngModel)]="companyMutualFund.minimumInitialSubscription"
                      [ngModelOptions]="{ standalone: true }"
                      
                      mode="decimal"
                      class="form-control"
                      name="fundAssets"
                      placeholder="Fund Assets"
                      ></p-inputNumber>
                  </div>
                  <div class="col-md-4">
                    <label class="col-form-label">Portfolio Type</label>
                    <p-dropdown
                      [options]="portfolioTypes"
                      required="true"
                      [(ngModel)]="companyMutualFund.portfolioTypeID"
                      [ngModelOptions]="{ standalone: true }"
                      placeholder="Select a portfolioTypeID"
                      optionLabel="portfolioType"
                      optionValue="portfolioTypeID"
                      [style]="{ width: '100%' }"
                      [showClear]="true"
                    >
                    </p-dropdown>
                  </div>
                </div>
              </p-tabPanel>
              <p-tabPanel header="Detail">
                <div class="row">
                  <div class="col-md-6">
                    <label class="col-form-label">Fund Objective</label>
                    <textarea rows="5" class="form-control" [(ngModel)]="companyMutualFund.fundObjective" name="fundObjective"
                    [ngModelOptions]="{ standalone: true }"
                    pInputText placeholder="Describe here...">
                    </textarea>
                  </div>
                  <div class="col-md-6">
                    <label class="col-form-label">Fund Objective (AR)</label>
                    <textarea rows="5" class="form-control" [(ngModel)]="companyMutualFund.aFundObjective" name="aFundObjective"
                    [ngModelOptions]="{ standalone: true }"
                    pInputText placeholder="Describe here...">
                    </textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label class="col-form-label">Investment Policy</label>
                    <textarea rows="5" class="form-control" [(ngModel)]="companyMutualFund.investmentPolicy" name="investmentPolicy"
                    [ngModelOptions]="{ standalone: true }"
                    pInputText placeholder="Describe here...">
                    </textarea>
                  </div>
                  <div class="col-md-6">
                    <label class="col-form-label">Investment Policy (AR)</label>
                    <textarea rows="5" class="form-control" [(ngModel)]="companyMutualFund.aInvestmentPolicy" name="aInvestmentPolicy"
                    [ngModelOptions]="{ standalone: true }"
                    pInputText placeholder="Describe here...">
                    </textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label class="col-form-label">Risk Profile</label>
                    <textarea rows="5" class="form-control" [(ngModel)]="companyMutualFund.riskProfile" name="riskProfile"
                    [ngModelOptions]="{ standalone: true }"
                    pInputText placeholder="Describe here...">
                    </textarea>
                  </div>
                  <div class="col-md-6">
                    <label class="col-form-label">Risk Profile (AR)</label>
                    <textarea rows="5" class="form-control" [(ngModel)]="companyMutualFund.aRiskProfile" name="aRiskProfile"
                    [ngModelOptions]="{ standalone: true }"
                    pInputText placeholder="Describe here...">
                    </textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label class="col-form-label">Funds Benefits</label>
                    <textarea rows="5" class="form-control" [(ngModel)]="companyMutualFund.fundsBenefits" name="fundsBenefits"
                    [ngModelOptions]="{ standalone: true }"
                    pInputText placeholder="Describe here...">
                    </textarea>
                  </div>
                  <div class="col-md-6">
                    <label class="col-form-label">Funds Benefits (AR)</label>
                    <textarea rows="5" class="form-control" [(ngModel)]="companyMutualFund.aFundsBenefits" name="aFundsBenefits"
                    [ngModelOptions]="{ standalone: true }"
                    pInputText placeholder="Describe here...">
                    </textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label class="col-form-label">Funds Components</label>
                    <textarea rows="5" class="form-control" [(ngModel)]="companyMutualFund.fundsComponents" name="fundsComponents"
                    [ngModelOptions]="{ standalone: true }"
                    pInputText placeholder="Describe here...">
                    </textarea>
                  </div>
                  <div class="col-md-6">
                    <label class="col-form-label">Funds Components (AR)</label>
                    <textarea rows="5" class="form-control" [(ngModel)]="companyMutualFund.aFundsComponents" name="aFundsComponents"
                    [ngModelOptions]="{ standalone: true }"
                    pInputText placeholder="Describe here...">
                    </textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label class="col-form-label">Funds Manager Comments</label>
                    <textarea rows="5" class="form-control" [(ngModel)]="companyMutualFund.fundManagerComments" name="fundManagerComments"
                    [ngModelOptions]="{ standalone: true }"
                    pInputText placeholder="Describe here...">
                    </textarea>
                  </div>
                  <div class="col-md-6">
                    <label class="col-form-label">Funds Manager Comments (AR)</label>
                    <textarea rows="5" class="form-control" [(ngModel)]="companyMutualFund.aFundManagerComments" name="aFundManagerComments"
                    [ngModelOptions]="{ standalone: true }"
                    pInputText placeholder="Describe here...">
                    </textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label class="col-form-label">Unit Price Calculation</label>
                    <textarea rows="5" class="form-control" [(ngModel)]="companyMutualFund.unitPriceCalculation" name="unitPriceCalculation"
                    [ngModelOptions]="{ standalone: true }"
                    pInputText placeholder="Describe here...">
                    </textarea>
                  </div>
                  <div class="col-md-6">
                    <label class="col-form-label">Unit Price Calculation (AR)</label>
                    <textarea rows="5" class="form-control" [(ngModel)]="companyMutualFund.aUnitPriceCalculation" name="aUnitPriceCalculation"
                    [ngModelOptions]="{ standalone: true }"
                    pInputText placeholder="Describe here...">
                    </textarea>
                  </div>
                </div>
              </p-tabPanel>
              <p-tabPanel header="Diversifications">
                <div class="row mt-2">
                  <div class="col-md-6 mt-3">
                    <p-table
                      #dt
                      [value]="mFundGeoDiversPercents"
                      [tableStyle]="{ 'max-height': '20rem' }"
                      [scrollable]="true" 
                      scrollHeight="20rem"
                      responsiveLayout="stack"
                      styleClass="p-datatable-gridlines"
                    >
                      <ng-template pTemplate="caption">
                        <div class="d-flex flex-column flex-md-row justify-content-between">
                          <div class="mr-auto p-2">
                            <span>
                              <h5>Geo Diversifications</h5>
                            </span>
                          </div>
                        </div>
                      </ng-template>
                      <ng-template pTemplate="header">
                        <tr>
                          <th>Geo Diversifications</th>
                          <th>Value</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-item>
                        <tr>
                          <td>
                            <p-dropdown
                              [options]="geoDiversifications"
                              [(ngModel)]="item.geoDiversificationID"
                              [ngModelOptions]="{ standalone: true }"
                              required="true"
                              placeholder="Select a Geo"
                              optionLabel="geoDiversification"
                              optionValue="geoDiversificationID"
                              [style]="{ width: '100%' }"
                              [showClear]="true"
                            >
                            </p-dropdown>
                          </td>
                          <td>
                            <input
                              autofocus
                              [(ngModel)]="item.value"
                              [ngModelOptions]="{ standalone: true }"
                              pInputText
                              type="text"
                              class="form-control"
                              name="value"
                              placeholder="Value"
                            />
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                  <div class="col-md-6 mt-3">
                    <p-table
                    [value]="mFundSectorDiversPercents"
                    [tableStyle]="{ 'max-height': '20rem' }"
                    [scrollable]="true" 
                    scrollHeight="20rem"
                    responsiveLayout="stack"
                    styleClass="p-datatable-gridlines"
                    >
                      <ng-template pTemplate="caption">
                        <div class="d-flex flex-column flex-md-row justify-content-between">
                          <div class="mr-auto p-2">
                            <span>
                              <h5>Sector Diversifications</h5>
                            </span>
                          </div>
                        </div>
                      </ng-template>
                      <ng-template pTemplate="header">
                        <tr>
                          <th>Sector Diversifications</th>
                          <th>Value</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-item>
                        <tr>
                          <td>
                            <p-dropdown
                              [options]="sectorDiversifications"
                              [(ngModel)]="item.sectorDiversificationID"
                              [ngModelOptions]="{ standalone: true }"
                              required="true"
                              placeholder="Select a Sector"
                              optionLabel="sectorDiversification"
                              optionValue="sectorDiversificationID"
                              [style]="{ width: '100%' }"
                              [showClear]="true"
                            >
                            </p-dropdown>
                          </td>
                          <td>
                            <input
                              autofocus
                              [(ngModel)]="item.value"
                              [ngModelOptions]="{ standalone: true }"
                              pInputText
                              type="text"
                              class="form-control"
                              name="value"
                              placeholder="Value"
                            />
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                  <div class="col-md-6 mt-3">
                    <p-table
                      #dt
                      [value]="mFundMajorInvestPercents"
                    [tableStyle]="{ 'max-height': '20rem' }"
                    [scrollable]="true" 
                    scrollHeight="20rem"
                    responsiveLayout="stack"
                    styleClass="p-datatable-gridlines"
                    >
                      <ng-template pTemplate="caption">
                        <div class="d-flex flex-column flex-md-row justify-content-between">
                          <div class="mr-auto p-2">
                            <span>
                              <h5>Major Investments</h5>
                            </span>
                          </div>
                        </div>
                      </ng-template>
                      <ng-template pTemplate="header">
                        <tr>
                          <th>Major Investments</th>
                          <th>Value</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-item>
                        <tr>
                          <td>
                            <p-dropdown
                              [options]="majorInvestments"
                              [(ngModel)]="item.majorInvestmentID"
                              [ngModelOptions]="{ standalone: true }"
                              required="true"
                              placeholder="Select a Major"
                              optionLabel="majorInvestment"
                              optionValue="majorInvestmentID"
                              [style]="{ width: '100%' }"
                              [showClear]="true"
                            >
                            </p-dropdown>
                          </td>
                          <td>
                            <input
                              autofocus
                              [(ngModel)]="item.value"
                              [ngModelOptions]="{ standalone: true }"
                              pInputText
                              type="text"
                              class="form-control"
                              name="value"
                              placeholder="Value"
                            />
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                  <div class="col-md-6 mt-3">
                    <p-table
                      #dt
                      [value]="mFundAssestAllocsPercents"
                    [tableStyle]="{ 'max-height': '20rem' }"
                    [scrollable]="true" 
                    scrollHeight="20rem"
                    responsiveLayout="stack"
                    styleClass="p-datatable-gridlines"
                    >
                      <ng-template pTemplate="caption">
                        <div class="d-flex flex-column flex-md-row justify-content-between">
                          <div class="mr-auto p-2">
                            <span>
                              <h5>Assets Allocations</h5>
                            </span>
                          </div>
                        </div>
                      </ng-template>
                      <ng-template pTemplate="header">
                        <tr>
                          <th>Assets Allocations</th>
                          <th>Value</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-item>
                        <tr>
                          <td>
                            <p-dropdown
                              [options]="assetsAllocations"
                              [(ngModel)]="item.assetsAllocationID"
                              [ngModelOptions]="{ standalone: true }"
                              required="true"
                              placeholder="Select a Asset"
                              optionLabel="assetsAllocation"
                              optionValue="assetsAllocationID"
                              [style]="{ width: '100%' }"
                              [showClear]="true"
                            >
                            </p-dropdown>
                          </td>
                          <td>
                            <input
                              autofocus
                              [(ngModel)]="item.value"
                              [ngModelOptions]="{ standalone: true }"
                              pInputText
                              type="text"
                              class="form-control"
                              name="value"
                              placeholder="Value"
                            />
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
              </p-tabPanel>
              <p-tabPanel header="Manage Address">
                <div class="row">
                  <div class="col-md-6">
                    <label class="col-form-label col-4">City</label>
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.city"
                      [ngModelOptions]="{ standalone: true }"
                      type="text"
                      class="form-control"
                      name="city"
                      placeholder="City"
                    />
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.aCity"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control mt-2"
                      name="aCity"
                      placeholder="City (AR)"
                    />
                  </div>
                  <div class="col-md-6">
                    <label class="col-form-label col-4">Address</label>
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.streetAddress"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control"
                      name="streetAddress"
                      placeholder="Address"
                    />
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.aStreetAddress"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control mt-2"
                      name="aStreetAddress"
                      placeholder="Address (AR)"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label class="col-form-label col-4">Website</label>
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.website"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control"
                      name="website"
                      placeholder="Website"
                    />
                  </div>
                  <div class="col-md-6">
                    <label class="col-form-label col-4">Email</label>
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.email"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control"
                      name="email"
                      placeholder="Email"
                    />
                  </div>
                  <div class="col-md-6">
                    <label class="col-form-label col-4">Postal Code</label>
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.poBox"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control"
                      name="poBox"
                      placeholder="Postal Code"
                    />
                  </div>
                  <div class="col-md-6">
                    <label class="col-form-label col-4">Telephone</label>
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.telephone"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control"
                      name="telephone"
                      placeholder="Telephone"
                    />
                  </div>
                  <div class="col-md-6">
                    <label class="col-form-label col-4">Mobile</label>
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.cell"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control"
                      name="cell"
                      placeholder="Mobile"
                    />
                  </div>
                  <div class="col-md-6">
                    <label class="col-form-label col-4">Fax</label>
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.fax"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control"
                      name="fax"
                      placeholder="Fax"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label class="col-form-label col-4">P.O Box</label>
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.poBox"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control"
                      name="poBox"
                      placeholder="P.O Box"
                    />
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.apoBox"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control mt-2"
                      name="apoBox"
                      placeholder="P.O Box (AR)"
                    />
                  </div>
                  <div class="col-md-6">
                    <label class="col-form-label col-4">Telex</label>
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.telex"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control"
                      name="telex"
                      placeholder="Telex"
                    />
                    <input
                      autofocus
                      [(ngModel)]="companyMutualFund.aTelex"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText
                      type="text"
                      class="form-control mt-2"
                      name="aTelex"
                      placeholder="Telex (AR)"
                    />
                  </div>
                </div>
              </p-tabPanel>
              <p-tabPanel header="Generate HTML">
                <div class="row">
                  <div class="col-md-6">
                    <label class="col-form-label">Search Tags</label>
                    <textarea rows="3" class="form-control" [(ngModel)]="companyMutualFund.searchTags" name="searchTags"
                    [ngModelOptions]="{ standalone: true }"
                    pInputText placeholder="Describe here...">
                    </textarea>
                  </div>
                  <div class="col-md-6">
                    <label class="col-form-label">Search Tags (AR)</label>
                    <textarea rows="3" class="form-control" [(ngModel)]="companyMutualFund.aSearchTags" name="aSearchTags"
                    [ngModelOptions]="{ standalone: true }"
                    pInputText placeholder="Describe here...">
                    </textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label class="col-form-label">Page Descriptions</label>
                    <textarea rows="3" class="form-control" [(ngModel)]="companyMutualFund.pageDescription" name="pageDescription"
                    [ngModelOptions]="{ standalone: true }"
                    pInputText placeholder="Describe here...">
                    </textarea>
                  </div>
                  <div class="col-md-6">
                    <label class="col-form-label">Page Descriptions (AR)</label>
                    <textarea rows="3" class="form-control" [(ngModel)]="companyMutualFund.aPageDescription" name="aPageDescription"
                    [ngModelOptions]="{ standalone: true }"
                    pInputText placeholder="Describe here...">
                    </textarea>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col-md-12 text-end">
                    <button class="btn btn-sm btn-primary me-2">Generate English Html</button>
                    <button class="btn btn-sm btn-primary">Generate Arabic Html</button>
                  </div>
                </div>
              </p-tabPanel>
            </p-tabView>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-1">
      <label class="col-form-label">Ticker:</label>
    </div>
    <div class="col-md-3">
      <input autofocus type="text" class="form-control" name="Company" placeholder="Ticker" />
    </div>
    <div class="col-md-2">
      <button class="btn btn-sm btn-primary">Move Fund</button>
    </div>
  </div>
</div>
