<div class="container ms-2" [abpLoading]="loading">
    <div class="row mb-2">
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12">
            <h6 class="p-1 mb-1">Countries</h6>
            <p-listbox
              [options]="countries"
              [(ngModel)]="countryID"
              name="countryID"
              (click)="getCountriesFactsByCountryID()"
              optionLabel="country"
              optionValue="countryID"
              [style]="{ width: '100%' }"
              [listStyle]="{ 'max-height': '30rem' }"
            />
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="card">
          <div class="card-body p-2">
            <div class="row">
              <div class="col-md-10">
              </div>
              <div class="col-md-2">
                <a href="#" 
                *ngIf="permission.create"  class="btn btn-success btn-sm me-1" (click)="save()"><i class="fa fa-save"></i> Save</a>
              </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12">
                    <h6> {{countryName}} Accounts</h6>
                    <div class="card">
                        <div class="card-body p-1">
                          <p-tree [value]="ESDFacts" [virtualScroll]="true" virtualScrollItemSize="46" scrollHeight="480px"  selectionMode="checkbox" (onNodeUnselect)="onNodeUnselect($event)" [(selection)]="selectedNodes" (onNodeSelect)="onNodeSelect($event)">
                            <ng-template let-node pTemplate="default">
                              <span pTooltip="{{ node.aCountryCustomFactName }}" tooltipPosition="top">
                                <p-checkbox [value]="node"></p-checkbox>
                                {{ node.label }}
                              </span>
                            </ng-template>
                          </p-tree>
                        </div>
                    </div>                    
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
