<div class="container ms-2" [abpLoading]="loading">
    <div class="row mb-2">
        <div class="col-md-3">
            
            <div class="row">
              <div class="col-md-12">
                 
                 
                <div class="card">
                    <div class="card-body p-0">
                <div class="card">
                  <div class="card-body p-0">
                    <p-listbox
                    [options]="Stockmarket"
                    
                    name="stockMarketID"
                    
                    optionLabel="stockMarket"
                    optionValue="stockMarketID"
                    [style]="{ width: '100%' }"
                    [listStyle]="{ 'max-height': '30rem' }"
                    (onChange)="onStockMarketChange($event)"
                  />
                  </div>
                </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-md-9">
           
            <div class="card">
            
              <div class="card-body p-2">
                <div class="row">
                  <div class="col-md-8">
                    <p-autoComplete
                    [suggestions]="filteredCountries"
                      field="name"
                      placeholder="Search the Markets"
                      [style]="{ width: '100%' }"
                      [inputStyle]="{ width: '100%' }"
                    >
                    </p-autoComplete>
                  </div>
                  <div class="col-md-4">
               <a href="#" class="btn btn-primary btn-sm me-1"><i class="fa fa-plus"></i> Add New</a>
               <a href="#" *ngIf="permission.create" (click)="insertCountryGroup()" class="btn btn-success btn-sm me-1"
               ><i class="fa fa-save" (click)="insertCurrencyGroup()"></i> Save</a
             >
              
  
           
                  </div>
                </div>

          <div class="row mt-2">
            <div class="row">
              <div class="col-md-6">
                <label class="col-form-label col-4">GB Country Groups </label>
                <p-dropdown
                [options]="CountryGroup"
                [(ngModel)]="stockMarketID"
                placeholder="Select  GB Country Group"
                optionLabel="countryGroup"
              optionValue="countryGroupID"
              
                [style]="{ width: '100%' }"
                [showClear]="true"
                (ngModelChange)="getCountryByGroupId()"
              >
              </p-dropdown>
                
              </div>
              <div class="col-md-6">
                <label class="col-form-label col-4">Country</label>
                <p-dropdown
                [options]="CountrySelect"
                placeholder="Select  Country Group"
                optionLabel="country"
                optionValue="countryID"
                [style]="{ width: '100%' }"
                [showClear]="true"
                [(ngModel)]="stockMarketById.countryID"
              >
              </p-dropdown>
                
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="row">
              <div class="col-md-6">
                <label class="col-form-label col-4">Market Name </label>
                <input
                autofocus
                type="text"
                class="form-control"
                name="MarketName"
                placeholder="Market Name"
                [(ngModel)]="stockMarketById.stockMarket"
              />

               <input
                    autofocus
                    type="text"
                    class="form-control mt-2"
                    name="MarketName"
                    placeholder="Market Name (AR)"
                    [(ngModel)]="stockMarketById.aStockMarket"
                  />
                
              </div>
              <div class="col-md-6">
                <label class="col-form-label col-4">Index Name</label>
                <input
                autofocus
                type="text"
                class="form-control"
                name="IndexName"
                placeholder="Index Name"
                [(ngModel)]="stockMarketById.indexName"
              />

               <input
                    autofocus
                    type="text"
                    class="form-control mt-2"
                    name="IndexName"
                    placeholder="Index Name (AR)"
                    [(ngModel)]="stockMarketById.aIndexName"
                  />
                
              </div>
              <div class="col-md-6">
                <label class="col-form-label col-4">Abbr</label>
                <input
                autofocus
                type="text"
                class="form-control"
                name="Abbr"
                placeholder="Abbr"

                [(ngModel)]="stockMarketById.abbr"
              />

               <input
                    autofocus
                    type="text"
                    class="form-control mt-2"
                    name="Abbr"
                    placeholder="Abbr (AR)"

                    [(ngModel)]="stockMarketById.aAbbr"
                  />
                
              </div>
              <div class="col-md-6">
                <label class="col-form-label col-4">Financial Currency</label>
                <!-- <textarea rows="4" class="form-control" placeholder="OverView here...">
                </textarea> -->
                <p-dropdown
                [options]="Currency"
                placeholder="Select Currency"
                optionLabel="currency"
                optionValue="currencyID"
                [style]="{ width: '100%' }"
                [showClear]="true"
                [(ngModel)]="stockMarketById.financialCurrencyID"
              >
              </p-dropdown>
              </div>
              <div class="col-md-6">
                <label class="col-form-label col-4">Market Activation</label>
                <p-dropdown
                    [(ngModel)]="countryGroupActivation"
                    [ngModelOptions]="{ standalone: true }"
                    [options]="activationDropdown"
                    placeholder="Select a Company Activation"
                    optionLabel="displayText"
                    optionValue="value"
                    [style]="{ width: '100%' }"
                    [showClear]="true"
                    >
                    </p-dropdown>
            </div>
            <div class="col-md-6">
                <label class="col-form-label col-4">Description</label>
                   <textarea rows="2" class="form-control" placeholder="Description here..."
                   [(ngModel)]="stockMarketById.description"  >
                </textarea>  
            </div>
                
              
                
             
            </div>
          </div>
          </div>
           </div>
           <div class="row mt-2">
            <div class="row">
           <div class="col-md-6">
             
              
                <h6>Add Caps</h6>
                <div class="col-md-3" *ngFor="let item of capSizes">
                  <p-checkbox name="group" [value]="item" [(ngModel)]="selectedCapsizess" 
                  [inputId]="item.stockMarketID"></p-checkbox>
                  <label [for]="item.stockMarketID">{{ item.capSize }}</label>
                </div>
               
            
           </div>
           <div class="col-md-6">
                            
                  <!-- <h6>GB Caps</h6> -->
                  <!-- <div class="col-md-3" *ngFor="let item of capSizes">
                    <p-checkbox name="group" [value]="item" [(ngModel)]="selectedCapsizess" [inputId]="item.sectorID"></p-checkbox>
                    <label [for]="item.sectorID">{{ item.capSize }}</label>
                  </div> -->
                
           </div>
            </div>
           </div>
            <div class="card">
              <div class="card-body p-2">
                <h6>GB Sector</h6>
                <div class="row">
                    <div class="col-md-6">
                      <!-- <a href="#" class="btn btn-primary btn-sm me-1"><i class="fa fa-plus"></i> Modify Sectors</a> -->
                     </div>
                </div>
                <div class="row">
                  <!-- <p-tree [value]="GBSector" selectionMode="checkbox"></p-tree> -->
                  <div class="col-md-4" *ngFor="let item of sectors">
                    <p-checkbox name="group2" [value]="item" [(ngModel)]="selectedmarketsector" 
                    [inputId]="item.stockMarketID"></p-checkbox>
                    <label [for]="item.stockMarketID">{{ item.sector }}</label>
                  </div>
                </div>
              </div>
            </div>
            
            
            
          </div>
            
    </div>
</div>