<div class="container ms-2" [abpLoading]="loading">
  <div class="row mb-2">
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12">
          <h6 class="p-1 mb-1">Countries</h6>
          <p-listbox
            [options]="countryGroups"
            [(ngModel)]="countryGroupID"
            name="countryGroupID"
            optionLabel="countryGroup"
            optionValue="countryGroupID"
            (click)="handleCountryGroup()"
            [style]="{ width: '100%' }"
            [listStyle]="{ 'max-height': '30rem' }"
          />
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="card">
        <div class="card-body p-2">
          <div class="row">
            <div class="col-md-8">
              <!-- <p-autoComplete
                    [suggestions]="filteredCountries"
                      field="name"
                      placeholder="Search the GCC"
                      [style]="{ width: '100%' }"
                      [inputStyle]="{ width: '100%' }"
                    >
                    </p-autoComplete> -->
            </div>
            <div class="col-md-4">
              <a href="#" class="btn btn-primary btn-sm me-1"><i class="fa fa-plus"></i> Add New</a>
              <a href="#" *ngIf="permission.create" (click)="insertCountryGroup()" class="btn btn-success btn-sm me-1"
                ><i class="fa fa-save"></i> Save</a
              >
              <!-- <a href="#" *ngIf="permission.create" class="btn btn-primary btn-sm me-1"><i class="fa fa-edit"></i> Update</a> -->
            </div>
          </div>

          <div class="row mt-2">
            <div class="row">
              <div class="col-md-6">
                <label class="col-form-label col-4">Country Group </label>
                <input
                  autofocus
                  [(ngModel)]="countryGroup.countryGroup"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  class="form-control"
                  name="countryGroup"
                  placeholder="Country Group"
                />
              </div>
              <div class="col-md-6">
                <label class="col-form-label col-4">Country Group (AR)</label>
                <input
                  autofocus
                  [(ngModel)]="countryGroup.aCountryGroup"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  class="form-control"
                  name="aCountryGroup"
                  placeholder="Country Group (AR)"
                />
              </div>
              <div class="col-md-6">
                <label class="col-form-label col-4">Countries #</label>
                <input
                  autofocus
                  [(ngModel)]="countryGroup.numberOfCountries"
                  [ngModelOptions]="{ standalone: true }"
                  type="number"
                  class="form-control"
                  name="numberOfCountries"
                  placeholder="Country"
                />
              </div>
              <div class="col-md-6">
                <label class="col-form-label col-4">Formation Date </label>
                <p-calendar
                [style]="{ width: '100%' }"
                required="true"
                dataType="string"
                dateFormat="mm/dd/yy"
                [showIcon]="true"
                [(ngModel)]="countryGroup.formationDate"
                name="formationDate"
                placeholder="Select a Formation Date"
              />
              </div>
              <div class="col-md-6">
                <label class="col-form-label col-4">Description</label>
                <textarea rows="2" class="form-control" [(ngModel)]="countryGroup.description" name="description"
                [ngModelOptions]="{ standalone: true }" placeholder="Describe here..."> </textarea>
              </div>
              <div class="col-md-6">
                <label class="col-form-label col-4">Description (AR)</label>
                <textarea rows="2" class="form-control" [(ngModel)]="countryGroup.aDescription" name="aDescription"
                [ngModelOptions]="{ standalone: true }" placeholder="Describe here..."> </textarea>
              </div>
              <div class="col-md-6">
                <label class="col-form-label col-4">Overview</label>
                <textarea rows="2" class="form-control" [(ngModel)]="countryGroup.overview" name="overview"
                [ngModelOptions]="{ standalone: true }" placeholder="Describe here..."> </textarea>
              </div>
              <div class="col-md-6">
                <label class="col-form-label col-4">Overview (AR)</label>
                <textarea rows="2" class="form-control" [(ngModel)]="countryGroup.aOverview" name="aOverview"
                [ngModelOptions]="{ standalone: true }" placeholder="Describe here..."> </textarea>
              </div>
              <div class="col-md-6">
                <label class="col-form-label col-4">Active</label>
                <p-dropdown
                    [(ngModel)]="countryGroupActivation"
                    [ngModelOptions]="{ standalone: true }"
                    [options]="activationDropdown"
                    placeholder="Select a Company Activation"
                    optionLabel="displayText"
                    optionValue="value"
                    [style]="{ width: '100%' }"
                    [showClear]="true"
                    >
                    </p-dropdown>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body p-2">
          <h6>Add Caps</h6>
          <div class="row">
            <div class="col-md-3" *ngFor="let item of capSizes">
              <p-checkbox name="group1" [value]="item" [(ngModel)]="selectedCapsizess" [inputId]="item.capSize"></p-checkbox>
              <label [for]="item.capSize">{{ item.capSize }}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body p-2">
          <h6>GB Sector</h6>
          <div class="row">
            <div class="col-md-4" *ngFor="let item of sectors">
              <p-checkbox name="group2" [value]="item" [(ngModel)]="selectedSectors" [inputId]="item.sector"></p-checkbox>
              <label [for]="item.sector">{{ item.sector }}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
