<div class="container ps-2" [abpLoading]="loading">
    <div class="row mb-2">
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">                
                <div class="row">
                  <div class="col-md-4">
                    <h6>FINEBOX</h6>
                  </div>
                  <div class="col-md-4 ps-1 pe-1 text-end">
                    <!-- <a class="btn btn-sm btn-link">Report (P)</a> -->
                  </div>
                  <div class="col-md-4 ps-1 pe-1 text-end">
                    <!-- <a class="btn btn-sm btn-link">Report (S)</a> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body p-0">
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                      <p-listbox
                [options]="statusFinancials"
                optionLabel="fileName"
                [(ngModel)]="statusFinanial" 
                [style]="{ width: '100%' }"
                [listStyle]="{ 'max-height': '820px','min-height': '420px' }"
              />
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="row">
                  <div class="col-md-4">
                      <p-radioButton
                      name="financialEntryType"
                      value="0"
                      (click)="filterData()"
                      [(ngModel)]="financialEntryType"
                      inputId="All"
                    />
                    <label for="All" class="ms-2 col-form-label"> All </label>
                  </div>
                  <div class="col-md-4">
                      <p-radioButton
                      name="financialEntryType"
                      value="1"
                      (click)="filterData()"
                      [(ngModel)]="financialEntryType"
                      inputId="New"
                    />
                    <label for="New" class="ms-2 col-form-label"> New </label>
                  </div>
                  <div class="col-md-4">
                      <p-radioButton
                      name="financialEntryType"
                      (click)="filterData()"
                      value="2"
                      [(ngModel)]="financialEntryType"
                      inputId="Review"
                    />
                    <label for="Review" class="ms-2 col-form-label"> Review </label>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="card">
          <div class="card-body p-2">
            <div class="row mb-2">
              <div class="col-md-12 ">
                <p-autoComplete
              [(ngModel)]="selectedItem"
              [ngModelOptions]="{ standalone: true }"
              (onSelect)="onSelect($event)"
              [suggestions]="suggestions"
              (completeMethod)="search($event)"
              [style]="{ width: '100%' }"
              field="company"
              [inputStyle]="{ width: '100%' }"
            >
            </p-autoComplete>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-3">
                    <label class="col-form-label"><b>Company:</b></label>
                  </div>
                  <div class="col-md-9">
                    <label class="col-form-label">{{statusFinanial.company}}</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label class="col-form-label"><b>As Of Date:</b></label>
                  </div>
                  <div class="col-md-9">
                    <label class="col-form-label">{{statusFinanial.asOfDate | date : 'MM/dd/yyyy'}}</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label class="col-form-label"><b>Uploaded By:</b></label>
                  </div>
                  <div class="col-md-9">
                    <label class="col-form-label">{{statusFinanial.uploadedBy}}</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label class="col-form-label"><b>Uploaded Date:</b></label>
                  </div>
                  <div class="col-md-9">
                    <label class="col-form-label">{{statusFinanial.uploadedDate | date : 'MM/dd/yyyy'}}</label>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <label class="col-form-label">Remarks</label>
                    <textarea rows="1" class="form-control" [(ngModel)]="statusFinanial.remarks"
                    name="remarks"  placeholder="Describe Overview here...">
                    </textarea>
                  </div>
                  <div class="col-md-12">
                    <label class="col-form-label">Remarks (AR)</label>
                    <textarea rows="1" class="form-control" [(ngModel)]="statusFinanial.aRemarks"
                    name="remarks"  placeholder="Describe Overview here...">
                    </textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-3">
                <p-radioButton
                  name="reportType"
                  value="Quarterly"
                  [(ngModel)]="reportType"
                  inputId="credit1"
                />
                <label for="credit1" class="ms-2 col-form-label"> Quarterly </label>
              </div>
              <div class="col-md-2">
                <p-radioButton
                  name="reportType"
                  value="Yearly"
                  [(ngModel)]="reportType"
                  inputId="awards1"
                />
                <label for="awards1" class="ms-2 col-form-label"> Yearly </label>
              </div>
              <div class="col-md-3 p-0">
                  <button class="btn btn-sm btn-primary" (click)="generateReport()">Generate Report</button>
              </div>
              <!-- <div class="col-md-2 p-0 text-end">
                  <a href="{{reportSrc}}" class="btn btn-sm btn-link" >View Excel</a>
              </div>
              <div class="col-md-2">
                  <button class="btn btn-sm btn-primary">Upload</button>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  