<div class="card">
    <div class="card-body p-2">
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
               <p-tree [value]="data" selectionMode="single" [virtualScroll]="true" virtualScrollItemSize="46" scrollHeight="480px"></p-tree>

            </div>
        </div>
        
        
    </div>
</div>
    
    </div>
    <div class="col-md-2 mt-2">
        <input
          autofocus
          type="text"
          class="form-control"
          name="Company"
          placeholder="Search  "
        />

        <input class="form-check-input" type="checkbox" />
      </div>
    
    </div>
    
  