<div class="container">
    <div>
      <ul class="nav nav-tabs">
        <li *ngFor="let tab of tabs; let i = index" class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ active: selectedIndex === i }"
            (click)="selectTab(i)"
            href="#"
            >{{ tab.title }}
            <button (click)="closeTab(i, $event)" class="close">&times;</button>
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <ng-container *ngFor="let tab of tabs; let i = index">
          <div
            *ngIf="selectedIndex === i"
            class="tab-pane active"
            #tabContainer
          ></div>
        </ng-container>
      </div>
    </div>
  </div>
