<div class="container ms-2">
    <!-- Button added at the top -->
    <div class="row mb-3">
        <div class="col-md-12 text-end">
            <button type="button" class="btn btn-sm btn-primary" (click)="updateBatches()">Update Batch</button>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-4">
            <div class="row mb-2">
                <div class="col-md-12">
                    <p-dropdown name="countryID" [options]="countries" placeholder="Select a Country" optionLabel="abbr"
                        optionValue="countryID" [(ngModel)]="searchBatches.countryID" [style]="{ width: '100%' }"
                        [showClear]="true">
                    </p-dropdown>
                </div>
              
                <div class="col-md-12 mt-2">
                    <p-dropdown name="statusID" placeholder="Select a Period" [style]="{ width: '100%' }"
                        [showClear]="true" [(ngModel)]="searchBatches.reportType" [options]="frequencyOptions">

                    </p-dropdown>
                </div>

                <div class="col-md-12 mt-2 text-end">
                    <button type="button" class="btn btn-sm btn-primary" (click)="adminbacth()">GO</button>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-12">
                    <b> <span> {{selectedBatchText}}</span>  </b>  

                    <b> <span> BatchID : </span> {{ batchID }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span> EsdFact : </span> {{ EsdFact }} </b>  
                    <br>
                   <button class="btn btn-sm btn-primary"(click)="toggleSortOrder()">
  Sorting {{ sortAsc ? '↑' : '↓' }}
</button>
                </div>
                <div class="col-md-12">
                    <h6 class="p-1 mb-1"> </h6>

                

                    <p-listbox
                    [options]="batchtext"
                    optionLabel="batchText"          
                    [(ngModel)]="searchBatches.batchID"  
                    optionValue="batchID"       
                    (ngModelChange)="onBatchChange()"   
                    [style]="{ width: '100%' }"
                    [listStyle]="{ 'max-height': '820px','min-height': '420px' }"
                  />
                  

                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card">
                <div class="card-body p-2">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-form-label">Status</label>
                            <p-dropdown name="statusID" [options]="status" placeholder="Select a status"
                                optionLabel="status" optionValue="statusId" [(ngModel)]="searchBatches.statusID"
                                [style]="{ width: '100%' }" [showClear]="true">
                            </p-dropdown>
                        </div>
                        <div class="col-md-6">
                            <label class="col-form-label">Date</label>
                            <p-calendar [style]="{ width: '100%' }" [(ngModel)]="searchBatches.asofDate" [showIcon]="true"
                                name="asofDate" placeholder="Select a Date"  dateFormat="dd/mm/yyyy" />
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-form-label">User (Entry)</label>
                            <p-dropdown name="gbEntryUserId" [options]="entryusers" placeholder="Select a Entry Users"
                                optionLabel="userName" optionValue="userId" [(ngModel)]="searchBatches.gbEntryUserId"
                                [style]="{ width: '100%' }" [showClear]="true">
                            </p-dropdown>
                        </div>
                        <div class="col-md-6">
                            <label class="col-form-label">User (Re-Entry)</label>
                            <p-dropdown name="gbReEntryUserId" [options]="reentryusers"
                                placeholder="Select a Re Entry Users" optionLabel="userName" optionValue="userId"
                                [style]="{ width: '100%' }" [(ngModel)]="searchBatches.gbReEntryUserId" [showClear]="true">
                            </p-dropdown>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-form-label">Source</label>
                            <textarea pInputText class="form-control" [(ngModel)]="searchBatches.source" name="source"
                                placeholder="Source" rows="2"></textarea>
                        </div>
                        <div class="col-md-6">
                            <label class="col-form-label">Source(AR)</label>
                            <textarea pInputText class="form-control" [(ngModel)]="searchBatches.aSource" name="aSource"
                                placeholder="Source" rows="2"></textarea>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-form-label">Remarks</label>
                            <textarea pInputText class="form-control" [(ngModel)]="searchBatches.remarks" name="remarks"
                                placeholder="Remarks" rows="3"></textarea>
                        </div>
                        <div class="col-md-6">
                            <label class="col-form-label">Remarks(AR)</label>
                            <textarea pInputText class="form-control" name="aRemarks" [(ngModel)]="searchBatches.aRemarks"
                                placeholder="AR Remarks" rows="3"></textarea>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="d-flex">
    
                                <div class="form-check me-3" *ngFor="let option of frequencyOptions">
                                    <input type="radio" class="form-check-input" name="frequency" [value]="option.value"
                                        [id]="'sourceOption' + option.value" [(ngModel)]="selectedFrequency"
                                        (change)="onRadioChange()" />
                                    <label class="form-check-label" [for]="'sourceOption' + option.value">
                                        {{ option.label }}
                                    </label>
                                </div>
    
    
    
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-md-6">
                                <label class="col-form-label">File Name</label>
                                <input type="text" class="form-control" [(ngModel)]="searchBatches.fileName"
                                    name="fileName" />
                            </div>
                            <div class="col-md-6">
                                <label class="col-form-label">hijriDate</label>
                                <input type="text" class="form-control" [(ngModel)]="searchBatches.hijriDate"
                                    name="hijriDate" />
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-md-6">
                                <label class="col-form-label">Note</label>
                                <textarea pInputText class="form-control" [(ngModel)]="searchBatches.note" name="note"
                                    placeholder="Note" rows="3"></textarea>
                            </div>
                            <div class="col-md-6">
                                <label class="col-form-label">Note(AR)</label>
                                <textarea pInputText class="form-control" [(ngModel)]="searchBatches.aNote" name="aNote"
                                    placeholder="AR Note" rows="3"></textarea>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-md-6">
                                <label class="col-form-label">Search Batch Id</label>
                                <input type="text" [(ngModel)]="searchBatches.batchID" class="form-control"
                                    name="BatchId" />
                            </div>
                            <div class="col-md-6">
                                <label class="col-form-label"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><br>
                                <input type="button" class="btn btn-sm btn-primary" (click)="searchBatch()" value="Search"
                                    name="search" />
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>