<div class="container ms-2" [abpLoading]="loading">
    <div class="row mb-2">
      <div class="col-md-3">
        <div class="row mb-2">
          <div class="col-md-12">
            <p-dropdown
              [options]="marketLangAnnouncement"
              [(ngModel)]="stockMarketID"
              name="stockMarketID"
              placeholder="Select a Market"
              optionLabel="abbr"
              optionValue="stockMarketID"
              (ngModelChange)="getCompMarketSectorsByMarketID()"
              [style]="{ width: '100%' }"
              [showClear]="true"
            >
            </p-dropdown>
          </div>
          <div class="col-md-12 mt-2">
            <p-dropdown
              [options]="companyMarketSectors"
              [(ngModel)]="sectorID"
              name="sectorID"
              placeholder="Select a Sector"
              optionLabel="sector"
              optionValue="sectorID"
              (ngModelChange)="getCompaniesTickersBySectorIDAndMarketID()"
              [style]="{ width: '100%' }"
              [showClear]="true"
            >
            </p-dropdown>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h6 class="p-1 mb-1">Companies</h6>
            <p-listbox
              [options]="companiesTickers"
              [(ngModel)]="companyID"
              name="companyID"
              (click)="getCompaniesFactsByCompanyID()"
              optionLabel="ticker"
              optionValue="companyID"
              [style]="{ width: '100%' }"
              [listStyle]="{ 'max-height': '30rem' }"
            />
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="card">
          <div class="card-body p-2">
            <div class="row">
              <div class="col-md-12">
                <p-autoComplete
                [(ngModel)]="selectedItem"
                [ngModelOptions]="{ standalone: true }"
                (onSelect)="onSelect($event)"
                [suggestions]="suggestions"
                (completeMethod)="search($event)"
                [style]="{ width: '100%' }"
                field="company"
                placeholder="Search by Companies or Tickers"
                [inputStyle]="{ width: '100%' }"
              >
              </p-autoComplete>
              </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body p-1">
                          <p-tree [value]="factsOwnershipMappings" [virtualScroll]="true" virtualScrollItemSize="46" scrollHeight="480px"  [(selection)] ="selectedNode" selectionMode="single" (onNodeSelect)="onNodeClick($event)">
                            <ng-template let-node pTemplate="default" >
                              <span pTooltip="{{ node.aGbOwnership }}" tooltipPosition="top">
                                
                                {{ node.label }}
                              </span>
                            </ng-template>
                          </p-tree>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body p-1">
                            <div class="row mb-2">
                                <div class="col-md-7">
                                  <label class="col-form-label">{{companyOwnershipFact.facts}}:</label> 
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <input [(ngModel)]="companyOwnershipFact.value"
                                        autofocus
                                        name="value"
                                        type="text"
                                        pattern="^\d*(\.\d{0,2})?$"
                                        [ngModelOptions]="{ standalone: true }"
                                        pInputText class="form-control" placeholder="Percentage">
                                        <span class="input-group-text">%</span>
                                      </div>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" *ngIf="permission.create"  (click)="save()" class="btn btn-sm btn-primary btn-block">Update</button>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <p-table
                                  #dt
                                  [value]="companyOwnerships"
                                  [scrollable]="true" 
                                  scrollHeight="25rem"
                                  responsiveLayout="stack"
                                  styleClass="p-datatable-gridlines"
                                >
                                  <ng-template pTemplate="caption">
                                    <div class="d-flex flex-column flex-md-row justify-content-between">
                                      <div class="mr-auto p-2">
                                        <span>
                                          <h5>Preview</h5>
                                        </span>
                                      </div>
                                    </div>
                                  </ng-template>
                                  <ng-template pTemplate="header">
                                    <tr>
                                      <th>Facts</th>
                                      <th>Figures</th>
                                    </tr>
                                  </ng-template>
                                  <ng-template pTemplate="body" let-item let-i="rowIndex">
                                    <tr (click)="handleCompanyOwnershipFact(item);clickedIndex == i? clickedIndex = null : clickedIndex = i" [ngClass]="{'row-active': clickedIndex == i}"> 
                                      <td>{{ item.facts }}</td>
                                      <td>{{ item.figures }}</td>
                                    </tr>
                                  </ng-template>
                                </p-table>
                              </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  


