<div class="container ms-2" [abpLoading]="loading">
  <div class="row mb-2">
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12">
          <h6 class="p-1 mb-1">Countries</h6>
          <p-listbox
            [options]="countries"
            [(ngModel)]="countryID"
            name="countryID"
            optionLabel="country"
            optionValue="countryID"
            (click)="getCountryInfos()"
            [style]="{ width: '100%' }"
            [listStyle]="{ 'max-height': '30rem' }"
          />
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="card">
        <div class="card-body p-2">
          <div class="row">
            <div class="col-md-9">
              <!-- <p-autoComplete
                    
                      field="name"
                      placeholder="Search the Country"
                      [style]="{ width: '100%' }"
                      [inputStyle]="{ width: '100%' }"
                    >
                    </p-autoComplete> -->
            </div>
            <div class="col-md-3">
              <a href="javascript:void(0)" class="btn btn-primary btn-sm me-1" (click)="addNewCountry()"><i class="fa fa-plus"></i> Add New</a>
              <a href="javascript:void(0)" *ngIf="permission.create" (click)="insertCountry()" class="btn btn-success btn-sm me-1"
                ><i class="fa fa-save"></i> Save</a
              >
              <!-- <a href="javascript:void(0)" *ngIf="permission.create"  class="btn btn-primary btn-sm me-1"><i class="fa fa-edit"></i> Update</a> -->
            </div>
          </div>

          <div class="row mt-2">
            <div class="row">
              <div class="col-md-6">
                <label class="col-form-label col-4">GB Country Group </label>
                <p-dropdown
                  [options]="countryGroups"
                  [(ngModel)]="countryInfo.countryGroupID"
                  [ngModelOptions]="{ standalone: true }"
                  name="countryGroupID"
                  placeholder="Select  GB Country Group"
                  optionLabel="countryGroup"
                  optionValue="countryGroupID"
                  [style]="{ width: '100%' }"
                  [showClear]="true"
                >
                </p-dropdown>
              </div>
              <div class="col-md-6">
                <label class="col-form-label col-4">Country Name</label>
                <input
                  autofocus
                  [(ngModel)]="countryInfo.country"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  class="form-control"
                  name="country"
                  placeholder="Country Name"
                />

                <input
                  autofocus
                  [(ngModel)]="countryInfo.aCountry"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  class="form-control mt-2"
                  name="aCountry"
                  placeholder="Country Name (AR)"
                />
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="row">
              <div class="col-md-6">
                <label class="col-form-label col-4">Profile Name </label>

                <input
                  autofocus
                  [(ngModel)]="countryInfo.countryProfileName"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  class="form-control"
                  name="countryProfileName"
                  placeholder="Profile Name"
                />
                <input
                  autofocus
                  [(ngModel)]="countryInfo.aCountryProfileName"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  class="form-control mt-2"
                  name="aCountryProfileName"
                  placeholder="Profile Name (AR)"
                />
              </div>
              <div class="col-md-6">
                <label class="col-form-label col-4">Country Description</label>
                <textarea
                  rows="2"
                  [(ngModel)]="countryInfo.countryDescription"
                  name="countryDescription"
                  [ngModelOptions]="{ standalone: true }"
                  class="form-control"
                  placeholder="Describe here..."
                >
                </textarea>
              </div>
              <div class="col-md-6">
                <label class="col-form-label col-4">Indicator Name </label>
                <input
                  autofocus
                  [(ngModel)]="countryInfo.econIndicatorName"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  class="form-control"
                  name="econIndicatorName"
                  placeholder="Indicator Name"
                />

                <input
                  autofocus
                  type="text"
                  [(ngModel)]="countryInfo.aEconIndicatorName"
                  [ngModelOptions]="{ standalone: true }"
                  class="form-control mt-2"
                  name="aEconIndicatorName"
                  placeholder="Indicator Name (AR)"
                />
              </div>
              <div class="col-md-6">
                <label class="col-form-label col-4">Profile Description</label>
                <textarea
                  rows="2"
                  [(ngModel)]="countryInfo.description"
                  name="description"
                  [ngModelOptions]="{ standalone: true }"
                  class="form-control"
                  placeholder="Profile here..."
                >
                </textarea>
              </div>

              <div class="col-md-6">
                <label class="col-form-label col-4">Code</label>
                <input
                  autofocus
                  [(ngModel)]="countryInfo.abbr"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  class="form-control"
                  name="abbr"
                  placeholder="Code"
                />
              </div>

              <div class="col-md-6">
                <label class="col-form-label col-4">Country Activation</label>
                <p-dropdown
                  [(ngModel)]="countryActivation"
                  [ngModelOptions]="{ standalone: true }"
                  [options]="activationDropdown"
                  placeholder="Select a Company Activation"
                  optionLabel="displayText"
                  optionValue="value"
                  [style]="{ width: '100%' }"
                  [showClear]="true"
                >
                </p-dropdown>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body p-2">
          <h6>Add Country Profile</h6>

          <p-tabView>
            <p-tabPanel header="Banks">
              <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4 text-end">
                  <a href="javascript:void(0)" class="btn btn-primary btn-sm me-1" (click)="addNewBank()"
                    ><i class="fa fa-plus"></i> Add New Bank</a
                  >

                  <a href="javascript:void(0)" class="btn btn-success btn-sm me-1" (click)="insertBank()"
                    ><i class="fa fa-edit"></i>Save Bank </a
                  >
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label class="col-form-label col-4">Bank</label>
                  <input
                    autofocus
                    [(ngModel)]="bank.bank"
                    [ngModelOptions]="{ standalone: true }"
                    type="text"
                    class="form-control"
                    name="bank"
                    placeholder="Bank"
                  />

                  <input
                    autofocus
                    [(ngModel)]="bank.aBank"
                    [ngModelOptions]="{ standalone: true }"
                    type="text"
                    class="form-control mt-2"
                    name="aBank"
                    placeholder="Bank (AR)"
                  />
                </div>
                <div class="col-md-6">
                  <label class="col-form-label col-4">City</label>
                  <input
                    autofocus
                    [(ngModel)]="bank.city"
                    [ngModelOptions]="{ standalone: true }"
                    type="text"
                    class="form-control"
                    name="city"
                    placeholder="City"
                  />
                  <input
                    autofocus
                    [(ngModel)]="bank.aCity"
                    [ngModelOptions]="{ standalone: true }"
                    type="text"
                    class="form-control mt-2"
                    name="aCity"
                    placeholder="City (AR)"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label class="col-form-label col-4">Address</label>
                  <input
                    autofocus
                    [(ngModel)]="bank.address"
                    [ngModelOptions]="{ standalone: true }"
                    type="text"
                    class="form-control"
                    name="address"
                    placeholder="Address"
                  />
                  <input
                    autofocus
                    [(ngModel)]="bank.aAddress"
                    [ngModelOptions]="{ standalone: true }"
                    type="text"
                    class="form-control mt-2"
                    name="aAddress"
                    placeholder="Address (AR)"
                  />
                </div>
                <div class="col-md-6">
                  <label class="col-form-label col-4">TelePhone</label>
                  <input
                    autofocus
                    [(ngModel)]="bank.tel"
                    [ngModelOptions]="{ standalone: true }"
                    type="text"
                    class="form-control"
                    name="tel"
                    placeholder="TelePhone"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label class="col-form-label col-4">Fax</label>
                  <input
                    autofocus
                    [(ngModel)]="bank.fax"
                    [ngModelOptions]="{ standalone: true }"
                    type="text"
                    class="form-control"
                    name="fax"
                    placeholder="Fax"
                  />
                </div>
                <div class="col-md-6">
                  <label class="col-form-label col-4">Email</label>
                  <input
                    autofocus
                    [(ngModel)]="bank.email"
                    [ngModelOptions]="{ standalone: true }"
                    type="text"
                    class="form-control"
                    name="email"
                    placeholder="Email"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label class="col-form-label col-4">Website</label>
                  <input
                    autofocus
                    [(ngModel)]="bank.webSite"
                    [ngModelOptions]="{ standalone: true }"
                    type="text"
                    class="form-control"
                    name="webSite"
                    placeholder="Website"
                  />
                </div>
                <div class="col-md-6">
                  <label class="col-form-label col-4">Description</label>
                  <textarea
                    rows="2"
                    [(ngModel)]="bank.description"
                    name="description"
                    [ngModelOptions]="{ standalone: true }"
                    class="form-control"
                    placeholder="Description here..."
                  >
                  </textarea>
                </div>
              </div>



              <div class="row mt-2">
                <div class="col-md-12">
                  <p-table
                    #dt
                    [value]="banks"
                [scrollable]="true" scrollHeight="20rem" 
                [tableStyle]="{ 'max-height': '20rem' }"
                responsiveLayout="stack"
                styleClass="p-datatable-strip"
                  >
                    <ng-template pTemplate="caption">
                      <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="mr-auto p-2">
                          <span>
                            <h5>Banks</h5>
                          </span>
                        </div>
                      </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                      <tr>
                        <th>Bank</th>
                        <th>City</th>
                        <th>Address</th>
                        <th>Tel</th>
                        <th>Fax</th>
                        <th>Email</th>
                        <th>Website</th>
                        <th>Description</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-i="rowIndex">
                      <tr (click)="handleBank(item);clickedIndex == i? clickedIndex = null : clickedIndex = i" [ngClass]="{'row-active': clickedIndex == i}">
                        <td>{{ item.bank }}</td>
                        <td>{{ item.city }}</td>
                        <td>{{ item.address }}</td>
                        <td>{{ item.tel }}</td>
                        <td>{{ item.fax }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.webSite }}</td>
                        <td>{{ item.description }}</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>
            </p-tabPanel>
            <p-tabPanel header="Broker">
              <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4 text-end">
                  

                  <a href="javascript:void(0)" class="btn btn-primary btn-sm me-1" (click)="addNewBroker()"
                    ><i class="fa fa-edit"></i> Add New Broker</a
                  >
                  <a href="javascript:void(0)" class="btn btn-success btn-sm me-1" (click)="insertBroker()"
                    ><i class="fa fa-plus"></i> Save Broker</a
                  >
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label class="col-form-label col-4">Broker</label>
                  <input
                    autofocus
                    [(ngModel)]="broker.broker"
                    [ngModelOptions]="{ standalone: true }"
                    type="text"
                    class="form-control"
                    name="broker"
                    placeholder="Broker"
                  />
                  <input
                    autofocus
                    [(ngModel)]="broker.aBroker"
                    [ngModelOptions]="{ standalone: true }"
                    type="text"
                    class="form-control mt-2"
                    name="aBroker"
                    placeholder="Broker (AR)"
                  />
                </div>
                <div class="col-md-6">
                  <label class="col-form-label col-4">City</label>
                  <input
                    autofocus
                    [(ngModel)]="broker.city"
                    [ngModelOptions]="{ standalone: true }"
                    type="text"
                    class="form-control"
                    name="city"
                    placeholder="City"
                  />
                  <input
                    autofocus
                    [(ngModel)]="broker.aCity"
                    [ngModelOptions]="{ standalone: true }"
                    type="text"
                    class="form-control mt-2"
                    name="aCity"
                    placeholder="City (AR)"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label class="col-form-label">Address</label>
                  <input
                    autofocus
                    [(ngModel)]="broker.address"
                    [ngModelOptions]="{ standalone: true }"
                    type="text"
                    class="form-control"
                    name="address"
                    placeholder="Address"
                  />

                  <input
                    autofocus
                    [(ngModel)]="broker.aAddress"
                    [ngModelOptions]="{ standalone: true }"
                    type="text"
                    class="form-control mt-2"
                    name="aAddress"
                    placeholder="Address (AR)"
                  />
                </div>
                <div class="col-md-6">
                  <label class="col-form-label">TelePhone</label>
                  <input
                    autofocus
                    [(ngModel)]="broker.tel"
                    [ngModelOptions]="{ standalone: true }"
                    type="text"
                    class="form-control"
                    name="tel"
                    placeholder="TelePhone"
                  />
                </div>
                <div class="col-md-6">
                  <label class="col-form-label">Fax</label>
                  <input
                    autofocus
                    [(ngModel)]="broker.fax"
                    [ngModelOptions]="{ standalone: true }"
                    type="text"
                    class="form-control"
                    name="fax"
                    placeholder="Fax"
                  />
                </div>
                <div class="col-md-6">
                  <label class="col-form-label">Email</label>
                  <input
                    autofocus
                    [(ngModel)]="broker.email"
                    [ngModelOptions]="{ standalone: true }"
                    type="text"
                    class="form-control"
                    name="email"
                    placeholder="Email"
                  />
                </div>
                <div class="col-md-6">
                  <label class="col-form-label">Website</label>
                  <input
                    autofocus
                    [(ngModel)]="broker.webSite"
                    [ngModelOptions]="{ standalone: true }"
                    type="text"
                    class="form-control"
                    name="webSite"
                    placeholder="Website"
                  />
                </div>
                <div class="col-md-6">
                  <label class="col-form-label">Description</label>
                  <textarea
                    rows="2"
                    [(ngModel)]="broker.description"
                    name="description"
                    [ngModelOptions]="{ standalone: true }"
                    class="form-control"
                    placeholder="Description here..."
                  >
                  </textarea>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-12">
                  <p-table
                    #dt
                    [value]="brokers"
                    [scrollable]="true" scrollHeight="20rem" 
                    [tableStyle]="{ 'max-height': '20rem' }"
                    responsiveLayout="stack"
                    styleClass="p-datatable-strip"
                  >
                    <ng-template pTemplate="caption">
                      <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="mr-auto p-2">
                          <span>
                            <h5>Broker</h5>
                          </span>
                        </div>
                      </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                      <tr>
                        <th>Broker</th>
                        <th>City</th>
                        <th>Address</th>
                        <th>Tel</th>
                        <th>Fax</th>
                        <th>Email</th>
                        <th>Website</th>
                        <th>Description</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-i="rowIndex">
                      <tr (click)="handleBroker(item);clickedIndex1 == i? clickedIndex1 = null : clickedIndex1 = i" [ngClass]="{'row-active': clickedIndex1 == i}">
                        <td>{{ item.broker }}</td>
                        <td>{{ item.city }}</td>
                        <td>{{ item.address }}</td>
                        <td>{{ item.tel }}</td>
                        <td>{{ item.fax }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.webSite }}</td>
                        <td>{{ item.description }}</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>
            </p-tabPanel>
            <p-tabPanel header="Economic Indicator">
              <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4 text-end">
                  
  
                  <a href="javascript:void(0)" class="btn btn-primary btn-sm me-1" (click)="addNewEconomicIndicator()"
                    ><i class="fa fa-edit"></i> Add New </a
                  >
                  <a href="javascript:void(0)" class="btn btn-success btn-sm me-1" (click)="insertEconomicIndicator()"
                    ><i class="fa fa-plus"></i> Save Indicator Value</a
                  >
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label class="col-form-label col-4">Indicator Type</label>
                  <p-dropdown
                    [(ngModel)]="economicIndicator.economicIndicatorTypeID"
                    [ngModelOptions]="{ standalone: true }"
                    name="economicIndicatorTypeID"
                    [options]="economicIndicatorTypes"
                    placeholder="Select Indicator Type"
                    optionLabel="economicIndicatorType"
                    optionValue="economicIndicatorTypeID"
                    [style]="{ width: '100%' }"
                    [showClear]="true"
                  >
                  </p-dropdown>
                </div>
                <div class="col-md-6">
                  <label class="col-form-label col-4">Year</label>
                  <p-calendar [style]="{ width: '100%' }" dataType="string" [showIcon]="true" [(ngModel)]="economicIndicator.year" name="year"  view="year"
                  dateFormat="yy" placeholder="Select a Year" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label class="col-form-label">Value In</label>
                  <p-dropdown
                    [(ngModel)]="economicIndicator.valueDeterminationID"
                    [ngModelOptions]="{ standalone: true }"
                    name="valueDeterminationID"
                    [options]="valueDeterminations"
                    placeholder="Select Value In"
                    optionLabel="valueDetermination"
                    optionValue="valueDeterminationID"
                    [style]="{ width: '100%' }"
                    [showClear]="true"
                  >
                  </p-dropdown>
                </div>
                <div class="col-md-6">
                  <label class="col-form-label">Value</label>
                  <input
                    autofocus
                    [(ngModel)]="economicIndicator.value"
                    [ngModelOptions]="{ standalone: true }"
                    type="number"
                    class="form-control"
                    name="value"
                    placeholder="Value"
                  />
                </div>
                <div class="col-md-6">
                  <label class="col-form-label">Description</label>
                  <textarea
                    rows="2"
                    [(ngModel)]="economicIndicator.description"
                    name="description"
                    [ngModelOptions]="{ standalone: true }"
                    class="form-control"
                    placeholder="Description here..."
                  >
                  </textarea>
                </div>
              </div>
              <br />

              <div class="row mt-2">
                <div class="col-md-12">
                  <p-table
                    #dt
                    [value]="economicIndicators"
                    [scrollable]="true" scrollHeight="20rem" 
                    [tableStyle]="{ 'max-height': '20rem' }"
                    responsiveLayout="stack"
                    styleClass="p-datatable-strip"
                  >
                    <ng-template pTemplate="caption">
                      <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="mr-auto p-2">
                          <span>
                            <h5>Indicator Value</h5>
                          </span>
                        </div>
                      </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                      <tr>
                        <th>Indicator Type</th>
                        <th>Year</th>
                        <th>ValueIn</th>
                        <th>Value</th>
                        <th>Description</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-i="rowIndex">
                      <tr (click)="handleEconomicIndicator(item);clickedIndex2 == i? clickedIndex2 = null : clickedIndex2 = i" [ngClass]="{'row-active': clickedIndex2 == i}">
                        <td>{{ item.indicatorType }}</td>
                        <td>{{ item.year }}</td>
                        <td>{{ item.valueIn }}</td>
                        <td>{{ item.value }}</td>
                        <td>{{ item.description }}</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>
            </p-tabPanel>
          </p-tabView>
        </div>
      </div>
    </div>
  </div>
</div>
