<div class="container ms-2" [abpLoading]="loading">
    <div class="row mb-2">
      <div class="col-md-3">
        <div class="row mb-2">
          <div class="col-md-12">
            <p-dropdown
              [options]="marketLangAnnouncement"
              [(ngModel)]="stockMarketID"
              name="stockMarketID"
              placeholder="Select a Market"
              optionLabel="abbr"
              optionValue="stockMarketID"
              (ngModelChange)="getCompMarketSectorsByMarketID()"
              [style]="{ width: '100%' }"
              [showClear]="true"
            >
            </p-dropdown>
          </div>
          <div class="col-md-12 mt-2">
            <p-dropdown
              [options]="companyMarketSectors"
              [(ngModel)]="sectorID"
              name="sectorID"
              placeholder="Select a Sector"
              optionLabel="sector"
              optionValue="sectorID"
              (ngModelChange)="getCompaniesTickersBySectorIDAndMarketID()"
              [style]="{ width: '100%' }"
              [showClear]="true"
            >
            </p-dropdown>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h6 class="p-1 mb-1">Companies</h6>
            <p-listbox
              [options]="companiesTickers"
              [(ngModel)]="companyID"
              name="companyID"
              (click)="getCompaniesFactsByCompanyID()"
              optionLabel="ticker"
              optionValue="companyID"
              [style]="{ width: '100%' }"
              [listStyle]="{ 'max-height': '30rem' }"
            />
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="card">
          <div class="card-body p-2">
            <div class="row">
              <div class="col-md-10">
                <p-autoComplete
                [(ngModel)]="selectedItem"
                [ngModelOptions]="{ standalone: true }"
                (onSelect)="onSelect($event)"
                [suggestions]="suggestions"
                (completeMethod)="search($event)"
                [style]="{ width: '100%' }"
                field="company"
                [inputStyle]="{ width: '100%' }"
              >
              </p-autoComplete>
              </div>
              <div class="col-md-2">
                <!-- <a href="#" class="btn btn-primary btn-sm me-1"><i class="fa fa-plus"></i> Add New</a> -->
                <a href="#" *ngIf="permission.create"  class="btn btn-success btn-sm me-1" (click)="save()"><i class="fa fa-save"></i> Save</a>
                <!-- <a href="#" class="btn btn-primary btn-sm me-1"><i class="fa fa-edit"></i> Update</a> -->
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-12">
                <h5>{{companyTicker}} Accounts</h5>
              </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body p-1">
                          <p-tree [value]="gbFactLists" [virtualScroll]="true" [filter]="true" filterMode="contains" filterPlaceholder="Search Accounts" virtualScrollItemSize="46" scrollHeight="480px" selectionMode="checkbox" [(selection)]="selectedNodes" (click)="onNodeClick($event)" (onNodeSelect)="onNodeSelect($event)">
                            <ng-template let-node pTemplate="default">
                              <span pTooltip="{{ node.gbFact }}" tooltipPosition="top">
                                <p-checkbox [value]="node"></p-checkbox>
                                {{ node.label }}
                              </span>
                            </ng-template>
                          </p-tree>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body p-1">
                            <p-tree [value]="tree" [virtualScroll]="true" virtualScrollItemSize="46" scrollHeight="480px" selectionMode="single"></p-tree>
                        </div>
                    </div>
                    
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
