<div class="container ms-2" [abpLoading]="loading">
    <div class="row mb-2">
      <div class="col-md-3">
        <div class="row mb-2">
          <div class="col-md-12">
            <p-dropdown
              [options]="stockMarkets"
              [(ngModel)]="stockMarketID"
              name="stockMarketID"
              placeholder="Select a Market"
              optionLabel="abbr"
              optionValue="stockMarketID"
              (ngModelChange)="getStockMarketSectorsByStockMarketID()"
              [style]="{ width: '100%' }"
              [showClear]="true"
            >
            </p-dropdown>
          </div>
          <div class="col-md-12 mt-2">
            <p-dropdown
              [options]="companyMarketSectors"
              [(ngModel)]="sectorID"
              name="sectorID"
              placeholder="Select a Sector"
              optionLabel="sector"
              optionValue="sectorID"
              (ngModelChange)="getSectorCompaniesBySectorIDAndStockMarketID()"
              [style]="{ width: '100%' }"
              [showClear]="true"
            >
            </p-dropdown>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h6 class="p-1 mb-1">Companies</h6>
            <p-listbox
              [options]="companiesTickers"
              [(ngModel)]="companyID"
              name="companyID"
              optionLabel="ticker"
              optionValue="companyID"
              [style]="{ width: '100%' }"
              [listStyle]="{ 'max-height': '30rem' }"
            />
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="card">
          <div class="card-body p-2">
            <div class="row">
              <div class="col-md-8">
                <p-autoComplete
                  [(ngModel)]="selectedItem"
                  [ngModelOptions]="{ standalone: true }"
                  (onSelect)="onSelect($event)"
                  [suggestions]="suggestions"
                  (completeMethod)="search($event)"
                  [style]="{ width: '100%' }"
                  field="company"
                  [inputStyle]="{ width: '100%' }"
                >
                </p-autoComplete>
              </div>
              <div class="col-md-4">
                <a href="#"  class="btn btn-primary btn-sm me-1" (click)="addNewNewsArab()"><i class="fa fa-plus"></i> Add New</a>
                <a href="#" *ngIf="permission.create"  (click)="createOrUpdateNewsArab()" class="btn btn-success btn-sm me-1"><i class="fa fa-save"></i> Save</a>
                <!-- <a href="#" *ngIf="permission.create"  class="btn btn-primary btn-sm me-1"><i class="fa fa-edit"></i> Update</a> -->
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label class="col-form-label">Category</label>
                <p-dropdown
                  [(ngModel)]="newsArab.newsCategoryID"
                  required="true"
                  name="newsCategoryID"
                  [options]="newsCategories"
                  placeholder="Select a Category"
                  optionLabel="newsCategory"
                  optionValue="newsCategoryID"
                  [style]="{ width: '100%' }"
                  [showClear]="true"
                >
                </p-dropdown>
              </div>
              <div class="col-md-4">
                <label class="col-form-label">Country</label>
                <p-dropdown
                  [(ngModel)]="newsArab.gccid"
                  required="true"
                  name="gccid"
                  [options]="countries"
                  placeholder="Select a Country"
                  optionLabel="country"
                  optionValue="gccid"
                  [style]="{ width: '100%' }"
                  [showClear]="true"
                >
                </p-dropdown>
              </div>
              <div class="col-md-4">
                <label class="col-form-label">Date</label>
                <p-calendar
                  [style]="{ width: '100%' }"
                  required="true"
                  dataType="string"
                  [showIcon]="true"
                  [(ngModel)]="newsArab.date"
                  name="date"
                  placeholder="Select a As of Date"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label class="col-form-label col-4">Title</label>
                <input
                  autofocus
                  [(ngModel)]="newsArab.title"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  class="form-control"
                  name="aTitle"
                  placeholder="Title (AR)"
                />
              </div>
              <div class="col-md-12">
                  <label class="col-form-label col-4">SubTitle</label>
                  <input
                    autofocus
                    [(ngModel)]="newsArab.subTitle"
                    [ngModelOptions]="{ standalone: true }"
                    type="text"
                    class="form-control"
                    name="subTitle"
                    placeholder="SubTitle (AR)"
                  />
                </div>
                <div class="col-md-12">
                  <label class="col-form-label col-4">Description</label>
                  <textarea
                    autofocus
                    [(ngModel)]="newsArab.description"
                    [ngModelOptions]="{ standalone: true }"
                    type="text"
                    class="form-control"
                    name="description"
                    rows="4"
                    placeholder="Description"
                  >
                </textarea>
                </div>
              <div class="col-md-3">
                <label class="col-form-label col-4">Source</label>
                <input
                    autofocus
                    [(ngModel)]="newsArab.source"
                    [ngModelOptions]="{ standalone: true }"
                    type="text"
                    class="form-control"
                    name="source"
                    placeholder="Source (AR)"
                  />
              </div>
              <!-- <div class="col-md-3 mt-4">
                  <label class="col-form-label col-4">&nbsp;</label>
                  <button type="button" class="btn btn-primary btn-block btn-sm mt-2">Select and Add</button>
              </div> -->
              <div class="col-md-3">
                  <label class="col-form-label col-4">&nbsp;</label>
                  <div class="form-check me-2">
                      <input
                        class="form-check-input"
                        [(ngModel)]="newsArab.isHome"
                        name="isHome"
                        type="checkbox"
                      />
                      <label class="form-check-label" for="defaultCheck3">Home</label>
                    </div>
              </div>
              <div class="col-md-3">
                  <label class="col-form-label col-4">&nbsp;</label>
                  <div class="form-check me-2">
                      <input
                        class="form-check-input"
                        [(ngModel)]="newsArab.islamic"
                        name="islamic"
                        type="checkbox"
                      />
                      <label class="form-check-label" for="defaultCheck3">Islamic</label>
                    </div>
                    <div class="form-check me-2">
                      <input
                        class="form-check-input"
                        [(ngModel)]="newsArab.forSocialNetworks"
                        name="forSocialNetworks"
                        type="checkbox"
                      />
                      <label class="form-check-label" for="defaultCheck3">Social Media</label>
                    </div>
                    <div class="form-check me-2">
                      <input
                        class="form-check-input"
                        [(ngModel)]="newsArab.isGulfbaseNews"
                        name="isGulfbaseNews"
                        type="checkbox"
                      />
                      <label class="form-check-label" for="defaultCheck3">Gulf Base</label>
                    </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-3">
                  <button type="button" (click)="getNewsArabs()" class="btn btn-primary btn-block btn-sm">Retirieve Top 100 Gulf News</button>
              </div>
              <div class="col-md-3">
                  <input
                    autofocus
                    type="text"
                    class="form-control"
                    name="title"
                    placeholder="Search By News Id"
                  />
              </div>
              <div class="col-md-3">
                  <button type="button" class="btn btn-primary btn-block btn-sm">Search By News Id</button>
              </div>
              <!-- <div class="col-md-3">
                  <button type="button" class="btn btn-primary btn-block btn-sm">Relate Indices / Sectors</button>
              </div> -->
              <div class="col-md-12 mt-3">
                <p-table
                #dt
                [value]="newsArabs"
                [tableStyle]="{ 'max-height': '20rem' }"
                [scrollable]="true" 
                scrollHeight="20rem"
                responsiveLayout="stack"
                styleClass="p-datatable-gridlines"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th>NewsID</th>
                    <th>Date</th>
                    <th>Title</th>
                    <th>SubTitle</th>
                    <th>Source</th>
                    <th>Important</th>
                    <th>Islamic</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                  <tr (click)="handleNewsArab(item)">
                  <td>{{ item.newsID }}</td>
                  <td>{{ item.date | date: 'dd/MM/yyyy' }}</td>
                  <td>{{ item.title }}</td>
                  <td>{{ item.subTitle }}</td>
                  <td>{{ item.source }}</td>
                  <td class="text-center">
                    <div class="text-center">
                      <input class="form-check-input" [(ngModel)]="item.isHome" name="isHome"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText type="checkbox" />
                      
                    </div>
                  </td>
                  <td class="text-center">
                    <div class="text-center">
                      <input class="form-check-input" [(ngModel)]="item.islamic" name="islamic"
                      [ngModelOptions]="{ standalone: true }"
                      pInputText type="checkbox" />
                      
                    </div>
                  </td>
                  </tr>
                </ng-template>
              </p-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  