<div>
    <form #template="ngForm">
      <div class="row mb-1">
        <div class="col-sm-12">
          <label class="col-form-label">Account</label>
          <input autofocus type="text" class="form-control" [(ngModel)]="account.accountName" name="accountName"
            placeholder="Account" />
        </div>
      </div>
      <div class="p-dialog-footer app-dialog-footer">
        <div class="col-sm-12 text-center">
          <button type="submit" [disabled]="template.form.invalid" class="btn btn-success ps-4 pe-4"><span class="text-white">SAVE</span></button>
          &nbsp;&nbsp;
          <button type="button" class="btn btn-primary" (click)="Cancel()"><span class="text-white">CANCEL</span></button>
          &nbsp;&nbsp;
          <button type="button" class="btn btn-danger" (click)="deleteAccount()"><span class="text-white">Delete</span></button>
        </div>
      </div>
    </form>
  </div>


